[2019-07-11 16:54] vlandau opened #1 "Incorporate code for correction rasters for block targets"
Need to isolate the Omniscape.py code that performed this. The process is described at the end of the [technical report](https://conservationgateway.org/ConservationByGeography/NorthAmerica/UnitedStates/oregon/science/Documents/McRae_et_al_2016_PNW_CNS_Connectivity.pdf), seen in the screenshot below.

![image](https://user-images.githubusercontent.com/17304432/61069759-3f2ac680-a3ca-11e9-8330-20fb

[2019-07-16 16:29] vlandau opened #2 "Add option to derive source strengths from resistance surface"
Original code here:
https://github.com/bmcrae/omniscape/blob/master/OmniScape.py#L30-L32
and here:
https://github.com/bmcrae/omniscape/blob/master/OmniScape.py#L37-L38

[2019-07-16 16:38] vlandau commented on #1
Is this being done at every iteration? If so, this is likely to make the blocked solve not much faster than an unblocked solve.

[2019-07-16 16:46] vlandau commented on #1
These two functions (link below). Run before for loop, so not a big increase in compute time
https://github.com/bmcrae/omniscape/blob/master/OmniScape.py#L751-L842

[2019-07-16 16:51] vlandau commented on #1
This is worth an additional discussion with TNC team about logic behind the decision to do this correction, and how exactly it works.

[2019-07-19 17:49] vlandau opened #3 "Error in fetch for summing current maps from workers"
@ranjanan, here's how to reproduce the error I'm getting with `@fetchfrom`
[code]

[2019-07-19 18:02] vlandau commented on #3
Appears to be fixed by wrapping the offending lines of code in a function, as per your suggestion, @ranjanan. Must have something to do with variable scopes.

[2019-07-19 18:02] #3 closed

[2019-07-19 20:26] ranjanan commented on #3
Cool!

[2019-07-19 21:47] vlandau commented on #3
@ranjanan Also, was able to replace that hacky `pmap` workaround for broadcsating variables by using `remotecall()` in a loop over the worker pool instead.

[2019-07-24 23:13] vlandau commented on #1
done at commit [68b310e](https://github.com/Circuitscape/Omniscape.jl/commit/68b310e64e057225356cc81b29454b4a141cc1b2)

[2019-07-24 23:13] #1 closed

[2019-07-24 23:20] vlandau opened #4 "Create default values for Omniscape `.ini` options"
Similar to how it's done in Circuitscape, add defaults for Omniscape options so user doesn't need an entry for every argument in their .ini file

[2019-07-24 23:23] vlandau opened #5 "vet code after all v0.1.0 features have been added"
@ranjanan it would be super helpful to go over the Circuitscape components in the code with you to vet its logic and make sure all Circuitscape inputs are correct.

[2019-07-25 03:37] ranjanan commented on #5
Sure

[2019-07-29 23:46] vlandau commented on #2
done at [acfcc0f](https://github.com/Circuitscape/Omniscape.jl/commit/acfcc0f94c2a6ebfe3a3293fef305e922e4f22ab)

[2019-07-29 23:46] #2 closed

[2019-08-06 22:18] vlandau commented on #4
done at [af09201](https://github.com/Circuitscape/Omniscape.jl/commit/af092019a20eba7ad8f7b49ae56726624b1d2d29).

[2019-08-06 22:18] #4 closed

[2019-08-06 22:18] #5 closed

[2019-08-26 15:40] vlandau opened #6 "Use geodetic distance instead of number of pixels for radius"
Allow radius for moving window to be specified in meters instead of number of pixels when inputs are in GCS WGS 84 (decimal degrees).

Will depend on lower corner coordinates of raster as well as cell size, and use the equation to calculate geodetic distance between two pairs of decimal degrees. Should still be able to do this using a comprehension in Julia.

[2019-08-26 15:43] vlandau opened #7 "Incorporate climate connectivity into Omniscape"
As done by McRae et al. previously, e.g. allow current to only originate from pixels that are/will be climatically similar to the target pixel.

In the future, could possibly extend this to be done for categories as well (e.g. a given biome/habitat type can only be connected to similar habitat types)

[2019-09-13 18:27] ranjanan opened #8 "Add error throws when required arguments are missing from the .ini"
Good thing to tell users whenever they haven't specified enough information to make a minimal omniscape problem.

[2019-09-19 15:28] dlecourstessier opened #9 "Error : LinearAlgebra.LAPACKException(3)"
Hi all !

I am currently running Omniscape, but I get this error :

ERROR: LinearAlgebra.LAPACKException(3)

Stacktrace: [1] chklapackerror at /builddir/build/BUILD/julia/build/usr/share/julia/stdlib/v1.1/LinearAlgebra/src/lapack.jl:38 [inlined] [2] gesdd!(::Char, ::Array{Float64,2}) at /builddir/build/BUILD/julia/build/usr/share/julia/stdlib/v1.1/LinearAlgebra/src/lapack.jl:1602 [3] #svd!#66(::Bo

[2019-09-19 15:50] ranjanan commented on #9
Could you give me steps on how to reproduce this error?

[2019-09-19 16:03] dlecourstessier commented on #9
Hi !

1) I've created the resistance file (between 0 and 100)
2) I've created the source file (between 75 and 100)
    --> Both in asc format
3) I've write the initiation file with the .ini denomination
4) I run Omniscape with two cores

Here is a drive document with my resistance and source files, my script and the initiation files
https://drive.google.com/drive/folders/1VHlBAKU2ZlTSQt23JZmJQ9pfd

[2019-09-19 16:10] vlandau commented on #9
I'll start by taking a look at the inputs, @ranjanan. @dlecourstessier, I would suggest also starting with much smaller resistance and source grids (fewer pixels). A resistance grid of 1GB and a block size of 5 could take weeks to finish running.

[2019-09-19 16:13] dlecourstessier commented on #9
Would you recommend upgrading the block size or doing tile ?

[2019-09-19 16:18] vlandau commented on #9
For troubleshooting purposes, you might start with a smaller subset of the study area. For the larger run, you could consider running on a computer with many more cores, and/or increase the block size to reduce total compute time.

I'm also noticing that your `radius` is 50 pixels, which is only 1.5km with a pixel size of 30 meters. Are you looking at connectivity for a small animal or for plant d

[2019-09-19 16:20] vlandau commented on #9
Now I'm seeing that you set the source threshold to 100, which should take care of the 75 values. I will get back to you shortly.

[2019-09-19 16:38] vlandau commented on #9
I'm seeing in your input file that the nodata value is set to 1.7976931348623157081e+308, but it needs to be -9999 at this time. This could be what is causing the error.

[2019-09-19 17:00] ranjanan commented on #9
@dlecourstessier just curious, why are you using 1.79e308 (the largest possible floating point value representable with 64-bit floating point) as your nodata value?

[2019-09-19 17:06] vlandau commented on #9
@ranjanan It's not a user-defined thing. It was probably set to that by default by whatever GIS software that was used. Issue is solved, by the way. Will post back in a minute with a link to the fixed resistance file.

[2019-09-19 17:09] dlecourstessier commented on #9
For the 1.79.... no data value, I gest the -9999 "no data value" have been lost in the translation. I can change it without problems ! I'm going to chance it in the google drive doc !
And I am going to change the radius....

I will get back to you shortly

[2019-09-19 17:10] vlandau commented on #9
@dlecourstessier I'm uploading a fixed resistance file right now. Here it is: https://drive.google.com/open?id=1GkoYysKvc9WTjl2FhXmYp-fg40q1dThy

[2019-09-19 17:59] vlandau commented on #9
Okay, this issue is resolved on the master branch with commit [799b8d1](https://github.com/Circuitscape/Omniscape.jl/commit/799b8d18f33b91ae915c591cd579232eca25bf56).

I'm going to wait on a new release with this patch for now in case additional issues come up. For now, you can update Omniscape using the following code in Julia.
[code]

[2019-09-19 17:59] #9 closed

[2019-09-19 18:04] dlecourstessier commented on #9
I've downloaded the file, thanks !

[2019-09-20 16:28] vlandau opened #10 "Reduce compute time overhead with parallel processing"
Send tasks in batches instead of one at a time?

Overhead per solve is non-trivial (maybe on the order of milliseconds?). With tens or hundreds of thousands of solves, it adds up.

@ranjanan any thoughts on this? I know dividing the number of tasks by the number of workers/threads is not necessarily ideal because then there may be idle workers toward the end of processing. Maybe batches of size `n

[2019-09-27 21:23] vlandau commented on #7
Allow user defined conditional operator for comparing compatibility of target and sources, e.g. `==`, `!=`, `>=`, etc.? Would allow for more complex/subtle conditions than the original "within *n* units"

[2019-10-23 14:51] tpoisot opened #11 "Issues with runs in parallel"
We're trying to run things on more than a single core, from an environment, and have been struggling so far. Here is the script, and we start julia with `julia --project` (but it doesn't matter):

[code]

Now, the error message we get is

[code]

I'm guessing there is something we are missing -- the error message is the same in 1.0 to 1.3. Is there an obvious thing we are missing? The issue does n

[2019-10-23 15:00] vlandau commented on #11
@tpoisot Omniscape takes care of adding procs and distributing tasks for you. To enable parallel processing, you have to specify `parallelize=true` and `max_parallel=50` in your .ini file. Once you've done that, it's just `run_omniscape(<insert path to .ini>)`. Mind trying that and letting my know what happens?

[2019-10-23 15:10] tpoisot commented on #11
sure, here is the whole session:

[code]

[2019-10-23 15:12] tpoisot commented on #11
Note that even re-starting to avoid the pre-compilation step is not changing the output. Even starting julia with `julia --project` gives the same issue.

[2019-10-23 15:15] vlandau commented on #11
Ohh, I see. Sorry, it must be something to do with `activate`, so Ixm not sure exactly what's going on. Have you considered using Docker so that you can avoid direct installation (then you wouldn't have to use activate)? I would even be happy to build a Docker image with the packages you need and pass it along to you.

[2019-10-23 15:16] tpoisot commented on #11
In fact, looking at the code, `myaddprocs` is evaluating everything in `Main`?

https://github.com/Circuitscape/Omniscape.jl/blob/2ea129d17dfc9f070aa73552e40a64bd946622f9/src/utils.jl#L1-L4

Just to try, I installed Omniscape in the default environment, then activated the project, and it is now running in parallel very nicely.

[2019-10-23 15:17] tpoisot commented on #11
From the top of my head, a fix could be

[code]

I haven't tried, but happy to submit a PR.

[2019-10-23 15:23] vlandau commented on #11
I won't be able to get to it until Friday, but I can test that out. Once Julia 1.3 is released, Omniscape will actually be switching to multithreading instead of distributed for its parallel processing. I have a working branch of that version that you could use in Julia 1.3-rc4 if you want to try it out? The branch is called threads.

[2019-10-23 15:25] tpoisot commented on #11
For now, I'm happy with installing Omniscape in the default environment, and waiting for multithreading. No sense in adding something when the next step is already in the works!

[2019-10-23 15:25] #11 closed

[2019-10-23 15:28] vlandau commented on #11
Sounds good. Glad you got it working. Reach out also if you end up with some cool results you can share from your application of Omniscape!

[2019-11-05 17:10] tpoisot commented on #10
So we are running some omniscape analyses on our cluster, and the cost of the overehead is huge. Our parallel efficiency went from about 95% on a slower system where computing was the bottlenect, to under  40% when the bottleneck disappeared.

I'd be very happy to help in making this happen under 1.3, because right now we're squandering a lot of computing resources. I think that just sending batch

[2019-11-05 17:24] vlandau commented on #10
@tpoisot thanks for adding to this. I'll be much more focused on Omniscape development these next few weeks and this issue is high priority. I _might_ be able to get it done tomorrow, but otherwise, next week for sure. And agreed about idle workers, which is why I was thinking an argument for batch size with some default would be ideal.

[2019-11-05 17:45] vlandau commented on #10
@tpoisot  You'll also see in [this commit](https://github.com/Circuitscape/Omniscape.jl/commit/c20a87d9a61d60fd47cad88879d150df41ed7ccf) on the threads branch that reducing the number of BLAS threads helped pretty significantly with this problem of reduced returns with added parallel workers. I reduced compute time by >20% in the example I was working with. Competition for parallel resources betwe

[2019-11-06 21:34] vlandau commented on #10
Any input welcome, @tpoisot and @ranjanan
Would it be efficient/ideal to simply add another for loop inside the threads for loop for solving batches of size `batch_size`?
e.g. switching this:
[code]
To something like this:
[code]

[2019-11-06 23:29] vlandau commented on #10
Done at commit [8cb127e](https://github.com/Circuitscape/Omniscape.jl/commit/8cb127e6c8f03d6b51308083a37b6ad3489dd494) on the threads branch. A new argument, `parallel_batch_size`, can now be supplied to the .ini file. Specifies the batch size for sending out parallel jobs to threads. Defaults to 10. I noticed a pretty good reduction in overhead time.

Could be that we can reduce overhead even mor

[2019-11-06 23:29] #10 closed

[2019-11-07 00:17] tpoisot commented on #10
Perfect! As soon as 1.3.0 is released, we'll test on our cluster and report.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vincent Landau <notifications@github.com>
Sent: Wednesday, November 6, 2019 6:29:31 PM
To: Circuitscape/Omniscape.jl <Omniscape.jl@noreply.github.com>
Cc: Poisot Timothée <timothee.poisot@umontreal.ca>; Mention <mention@noreply.github.

[2019-11-26 21:27] vlandau commented on #7
Basically incorporated, but does not allow for present vs. future conditions to be compared. Need arguments like `present_condition1` and `future_condition1`, or a Boolean argument such as `temporally_varying` where the user can specify if they'll provide that future condition.

[2019-12-09 17:26] vlandau opened #12 "Travis build fails with parallel and conditional connectivity in windows on Julia 1.3 (pass locally)"
All works in Julia 1.2. In 1.3, windows builds in Travis fail due to no output. Example [here](https://travis-ci.org/Circuitscape/Omniscape.jl/jobs/622773868?utm_medium=notification&utm_source=github_status).

[2019-12-09 19:24] vlandau commented on #12
Tested on a local Windows 10 machine with Julia 1.3 and all worked. Attempting to resolve by reaching out on the Travis and Julia Discourse forums.

[2019-12-12 18:12] vlandau commented on #12
Issues posted [here on the Travis community forum](https://travis-ci.community/t/no-output-failure-for-test-that-passes-locally-on-windows-only-for-julia-1-3-works-in-julia-1-2/6392) and [here on Julia discourse](https://discourse.julialang.org/t/no-output-travis-failure-for-test-that-passes-locally-in-1-minute-on-windows/32064).

[2019-12-14 01:01] vlandau commented on #7
Merged to master. Done.

[2019-12-14 01:01] #7 closed

[2019-12-17 17:11] vlandau opened #13 "Multi-threading deadlock on Windows"
Need to identify cause. It is only exposed on Windows in Travis and Appveyor with Julia 1.3, doesn't happen in Julia 1.2. @ranjanan or @ViralBShah any advice would be greatly appreciated!

Here's [a post](https://discourse.julialang.org/t/tips-guidance-for-preventing-deadlocks-and-identifying-their-sources-in-multithreading/32358) on the Julia discourse I made with links to relevant code blocks in

[2019-12-17 17:31] ViralBShah commented on #13
We've received similar reports on windows. Is this reliably failing?

@jeffbezanson @vtjnash

[2019-12-17 17:33] vlandau commented on #13
@ViralBShah Yes, it consistently fails, but only on Travis and Appveyor (maybe due to the more limited hardware resources of those VMs?)

[2019-12-17 17:59] vlandau commented on #12
Looks to be caused by a deadlock. Opened new issue #13 to address it.

[2019-12-17 17:59] #12 closed

[2019-12-17 18:52] ViralBShah commented on #13
Do you have a windows desktop/laptop to try on?

[2019-12-17 19:02] vlandau commented on #13
It has been tested on two different windows machines locally and passed on both. I also tested it with `JULIA_NUM_THREADS` set to 1 on one of the machines (which is what the Travis and Appveyor VMs have) and it passed.

[2019-12-18 04:49] vlandau commented on #13
I do have access to a Windows machine to do local testing if/as needed.

[2019-12-20 14:22] ViralBShah commented on #13
It is possible that the Travis VMs are constrained. We will need a way to reproduce this reliably on a local setup in order to debug.

[2019-12-22 19:06] vlandau commented on #13
There may be a way to set up a Docker image with limited access to resources (?). I'll look into this a bit.

[2019-12-22 19:32] vlandau commented on #13
Looks like windows in Travis CI uses Window server 2016. Some more info: https://docs.travis-ci.com/user/reference/overview/#what-infrastructure-is-my-environment-running-on

Also, https://docs.docker.com/config/containers/resource_constraints/

Can't get into this until after Jan 2nd.

[2020-01-02 17:41] vlandau commented on #13
@ViralBShah do you think it's worth trying to debug from within an Appveyor VM?

There is a way to get inside the VM via remote desktop.
https://www.appveyor.com/docs/how-to/rdp-to-build-worker/

[2020-01-02 17:43] ViralBShah commented on #13
I think it might be this one: https://github.com/JuliaLang/julia/pull/34225

We should wait for it.

[2020-01-02 17:45] ViralBShah commented on #13
Until 1.3.2 (assuming that's where the fix will be), it may be best to stay with Julia 1.2.

[2020-01-02 17:52] vlandau commented on #13
Alright sounds good. Thanks for the heads up on that merge request!

Omniscape 0.1.3 works on Julia 1.3.1, so I'll just hold off on releasing 0.2.0 (which is where the deadlock bug was introduced) until the Julia patch with that fix is released.

[2020-01-02 18:02] vlandau commented on #13
FWIW, tests are suddenly passing on Appveyor... :man_shrugging:

[2020-01-02 18:06] ViralBShah commented on #13
It might be that Travis has a setup that triggers it more reliably, or it is a different bug altogether.

Cc @keno in case he has further insight.

[2020-01-02 18:24] vlandau commented on #13
In trying to solve a separate issue, [this PR](https://github.com/Circuitscape/Omniscape.jl/pull/14) seemed to solve the deadlock problem on Travis...

All it did was turn off inline by adding
[code]
to the travis.yml. Not sure what the `travis_wait 30` is about.

Just posting here in case it provides a clue to what's going on.

[2020-01-06 17:35] vlandau opened #19 "add option to mask current flow output to match NoData areas in resistance"
Will default to false.

[2020-01-06 17:36] vlandau opened #20 "fix issue with NaNs in current flow output"
Flow potential calculations sometimes result in 0/0 in calculations, resulting in NaNs. Update to set these areas to 0.

[2020-01-06 17:49] #19 closed

[2020-01-06 17:51] #20 closed

[2020-01-10 14:58] ViralBShah commented on #13
@vlandau we will need a reproducer locally, even it is only somewhat reliable. Or a dump from the deadlocking system.

[2020-01-10 16:47] vlandau commented on #13
Okay, I will see if I can debug in Appveyor following @Keno's suggestion.

[2020-01-10 20:03] vlandau commented on #13
@ViralBShah, when entering the Appveyor VM via RDP and running the build and test commands manually, the tests pass reliably. Once I get rid of the rdp and allow the tests to continue, the tests fail reliably.

Is there some way to print debug info to the Appveyor output ([here](https://ci.appveyor.com/project/vlandau/omniscape-jl))? Or some way to save a minidump somewhere on the VM, then I can R

[2020-01-17 16:28] vlandau opened #21 "Vary block size according to "intactness""
Potential idea for down the line. Small block size is more important in areas with fine-scale heterogeneity, and less so in generally contiguous/homogeneous areas. Allowing block size to vary throughout the landscape may help speed up processing times by prioritizing areas for smaller block sizes.

[2020-01-21 21:58] vlandau commented on #13
Having issues with gdb in Appveyor (see [this post](https://discourse.julialang.org/t/how-to-generate-a-minidump-for-a-hanging-julia-program-on-appveyor-windows/33451/4?u=vlandau) on the Julia Discourse). It's something related to julia.exe not having symbols.

Is there a way to stream the stacktrace to a text file in real time so that we can see the trace leading up to the deadlock? That might be

[2020-01-30 23:48] vlandau commented on #13
Bumping this issue in case (though I know you're all busy too!) anyone can take another look. I got some responses on the Discourse post, but I'm still having issues

https://discourse.julialang.org/t/how-to-generate-a-minidump-for-a-hanging-julia-program-on-appveyor-windows/33451/8

[2020-01-31 01:11] Keno commented on #13
I'm working on some deadlock detection tooling for Julia base, so if you can wait another week or two, you may be able to use that at that point.

[2020-01-31 16:20] vlandau commented on #13
Great to hear @Keno. I'd definitely be interested to try that out when it's ready.

[2020-02-14 17:02] vlandau commented on #13
@Keno and @ViralBShah, at long last, I have the backtrace from the deadlocked process!

It was through RDP to appveyor, so I wasn't able to copy the text from the gdb terminal, so hopefully a screenshot will suffice for now. Should I post an issue with this info to the JuliaLang git repo?

![image](https://user-images.githubusercontent.com/17304432/74551710-e8add980-4f10-11ea-9afc-537393974789.png

[2020-02-14 17:05] ViralBShah commented on #13
Thanks Vincent! Also drawing @vtjnash 's attention.

[2020-02-14 17:07] ViralBShah commented on #13
@Keno @vtjnash Should this be put into a Julia issue?

[2020-02-14 17:09] Keno commented on #13
Were you able to get a full minidump of the process in question? That stack trace alone is unfortunately not actionable (any deadlock would look like that for the blocked thread - we need to know what the other threads are up to).

[2020-02-14 17:09] vlandau commented on #13
Is there a way to grab that from gdb?

[2020-02-14 17:11] Keno commented on #13
I usually use the process explorer for minidump capture: https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer

[2020-02-14 17:12] vlandau commented on #13
Thanks! I will look into that an post back here when I've got it.

[2020-02-14 17:20] vlandau commented on #13
Alright, here's a link to the minidump of the process (created using process explorer, then right clicking on the Julia process and selecting "create minidump"). https://drive.google.com/file/d/18SqE_HtlE1UqeNao8soQ-NjWL9iA-ewv/view?usp=sharing

[2020-02-14 22:22] vlandau commented on #13
Now that I have the minidump info, should I post a Julia issue?

[2020-02-14 23:00] ViralBShah commented on #13
Yes please post a Julia issue

[2020-02-20 00:51] vlandau commented on #13
Alright, tests officially passed after [julia/pull/34807](https://github.com/JuliaLang/julia/pull/34807). Thank you @ViralBShah and @Keno for the help here, and awesome work on the patch and debugging @Keno! Thanks very much!

Psyched to finally close this!!

[2020-02-20 00:51] #13 closed

[2020-02-20 00:55] vlandau opened #23 "Update Julia dep to version with deadlock patch once released"
The deadlock bug exposed in Windows tests on appveyor (see #13) was fixed by [julia/pull/34807](https://github.com/JuliaLang/julia/pull/34807). Need to update Julia dep for Omniscape once the patch is backported to either Julia 1.3 or (more likely) 1.4

[2020-02-21 17:40] vlandau opened #24 "Further investigate impacts of BLAS_NUM_THREADS on performance"
When parallel processing is enabled, having too many BLAS threads (number of logical cores) was causing slowdowns (presumably because there was competition between linear algebra tasks and Omniscape tasks), so I [set `BLAS_NUM_THREADS` to 1](https://github.com/Circuitscape/Omniscape.jl/blob/733fead78da98f0fe949134f54acf8de5eda3219/src/run_omniscape.jl#L55-L57) if parallel processing is enabled. 1

[2020-02-21 19:40] vlandau commented on #24
Performance is improved with BLAS threads set to number of physical cores. If this becomes Julia default behavior as a follow up to JuliaLang/julia/issues/33409, no action needed here, and can remove code that sets number of threads.

[2020-02-25 20:56] vlandau opened #26 "add .tif support"
Add support for reading _and_ writing tif formatted files. Should be relatively straightforward to implement the ideas proposed in Circuitscape/Circuitscape.jl/issues/220

[2020-02-26 21:49] vlandau commented on #23
Latest Julia compat here a14e8d1

[2020-02-26 21:49] #23 closed

[2020-02-26 21:51] vlandau commented on #24
Closed for now. # of physical cores is most efficient, using 1/2 of detected cores will on average be the best way to get to number of physical cores (since many users are running on hyperthreaded CPUs)

[2020-02-26 21:51] #24 closed

[2020-03-10 16:36] glaroc commented on #26
I did a PR on Circuitscape that should implement this.

[2020-03-10 17:22] vlandau opened #27 "reduce memory consumption"
I'm getting out of memory errors using 1.2 Gb resistance surface on one worker, so I think a closer look needs to be taken at memory consumption. This is on a 32GB RAM machine, so this is no good.

One idea off the bat is to calculate inputs to 32-bit precision, but I think there are likely many more gains to be had by tweaking the code itself.

In theory, the Circuitscape problems themselves shou

[2020-03-10 17:51] ViralBShah commented on #27
Yes, with 1M pixels, Circuitscape memory usage shouldn't be an issue. Have you tried memory allocation profiling? https://docs.julialang.org/en/v1/manual/profile/

[2020-03-10 17:52] ViralBShah commented on #27
I am going to guess that 32-bit is probably going to not give you meaningful savings.

[2020-03-10 17:54] vlandau commented on #27
That's good to know. I'll look into profiling. I haven't tried it before. Thanks!

@ranjan can you speak at all to the savings in memory Circuitscape got with 32 bit (or maybe that mostly done for speed savings)?

[2020-03-10 18:04] ViralBShah commented on #27
Note that it is a bit rough and the actual allocation it reports may be off by a few lines. I still find it quite useful.

[2020-03-11 16:56] vlandau opened #28 "Add option for resistance to be conductance"
Keeping in line with Circuitscape option

[2020-03-11 17:03] vlandau opened #29 "Add warning for 0s or negative values in resistance/conductance surface"
Will help with troubleshooting and prevent weird Circuitscape errors.

[2020-03-11 19:40] #28 closed

[2020-03-11 23:20] #29 closed

[2020-03-17 18:12] vlandau opened #31 "review arg names for .ini"
Solicit some feedback about argument names and settle on final before releasing 0.2.0

[2020-03-17 23:10] vlandau commented on #27
Tacking this on here, noting that `readdlm` from `DelimitedFiles` uses a ton of memory (>5GB) to read in a 1.2GB .asc file and it all remains allocated.

[2020-03-18 00:21] ViralBShah commented on #27
Probably should use something else. Can CSV.jl read these files? Or make gdal the default?

readdlm does not receive too much attention. It is not meant for such large files. More of a convenience function.

[2020-03-18 06:53] ranjanan commented on #27
CSV.jl currently seems to error out while reading our ASC files: https://github.com/JuliaData/CSV.jl/issues/583. As for GDAL, I did an informal benchmark trying to read a 300 MB ASC file:

[code]

and with ArchGDAL:
[code]

We certainly need to shift away from `readdlm`. Let's wait for CSV.jl benchmark as well. It supports multithreaded reading, so lets see how much gain we get from that as well.

[2020-03-18 16:08] vlandau commented on #27
Thanks! That is great advice. I might play around with ArchGDAL. Would I also add GDAL_jll.jl as a dependency so that GDAL gets installed (easily)?

[2020-03-18 16:32] vlandau commented on #27
@ranjanan why do you have to wrap `ArchGDAL.read` with `ArchGDAL.read` here?

[2020-03-19 13:14] tmiewald opened #32 "When using a remote server, ERROR: IOError: stream is closed or unusable"
I've been trying to get Omniscape.jl to run for several days and I continually get this error:  `ERROR: IOError: stream is closed or unusable`.  It usually happens early in the solving process, but not on the same target.  More feedback from the terminal is below.

(Area that I'm analyzing is western WA, 60m pixels; rows=8006, columns=7588.  The machine has 20 processors, 640 GB memory).
Thanks fo

[2020-03-19 15:49] vlandau commented on #32
Thanks for posting this issue @tmiewald! cc'ing @ranjanan in case he case see something obvious right away. Could you run `versioninfo()` in Julia and post the output here as a comment?

[2020-03-19 15:52] vlandau commented on #32
Also, are you running this on a server?

[2020-03-19 16:07] vlandau commented on #32
[This post](https://discourse.julialang.org/t/error-loaderror-taskfailedexception-ioerror-stream-is-closed-or-unusable-with-distributed-on-multinode-cluster/34768) on the Julia Discourse could be related.

[2020-03-19 20:39] tmiewald commented on #32
Thanks.  See below.  Yes, it is running on a server that I remote login to.
julia> using Pkg; Pkg.status("Omniscape")
    Status `C:\Users\tmiewald\.julia\environments\v1.3\Project.toml`
  [a38d70fc] Omniscape v0.1.4

julia> Pkg.status("Circuitscape")
    Status `C:\Users\tmiewald\.julia\environments\v1.3\Project.toml`
  [2b7a1792] Circuitscape v5.5.5

ulia> versioninfo()
ulia Version 1.3.1
ommit

[2020-03-19 20:59] vlandau commented on #32
Ah, bingo, yes the remote server must be the problem (same issue that was detailed in the Julia Discourse post I linked to). It sounds like it had to do with using distributed processing (a certain type of parallel processing)

In the latest unreleased version of Omniscape, v0.2.0, we actually did away with distributed processing entirely and switched to multi-threading (another type of parallel p

[2020-03-19 22:54] tmiewald commented on #32
Thanks!  Super helpful.  I did what you said and I'm running it again..

[2020-03-20 15:39] vlandau commented on #32
Looks like the problem did not occur for Omniscape v0.2.0 :tada:

[2020-03-20 15:39] #32 closed

[2020-03-20 19:34] vlandau commented on #27
Alright! Got a [memory allocation profile](https://gist.github.com/vlandau/8917ec2f23ebb3a0bc4f9cc894fde2f2#file-functions-jl-1350-mem) for the functions called in Omniscape.

There appear to be some very obvious culprits.

The first one off the bat that I identified was [`clip()`](https://gist.github.com/vlandau/8917ec2f23ebb3a0bc4f9cc894fde2f2#file-functions-jl-1350-mem-L3-L19), and I've got an

[2020-03-20 19:37] ViralBShah commented on #27
Aren't those operations just creating large arrays?

[2020-03-20 19:42] ViralBShah commented on #27
Also `clip` could easily avoid array operations using a loop,  but the garbage generated should get collected anyways. Curious to see what helps.

[2020-03-20 19:44] ViralBShah commented on #27
What's going on with `null_current_total`?

[2020-03-20 19:55] vlandau commented on #27
`null_current_total` has to do with an artifact correction when using "blocks" as moving window centers instead of individual pixels. I basically translated what Brad had already implemented in Omniscape.py into Julia. I'll have to revisit his code to see if there's a better way I can implement it.

I'm wondering if GC is not working efficiently? For example, memory that was allocated during `read

[2020-03-20 20:00] vlandau commented on #27
Also, maybe that `null_current_total` is so large because that loop caused the specific line to be evaluated 81*81 times in the run that I test on? New to memory profiling, so not sure exactly how it works :slightly_smiling_face:

[2020-03-20 20:16] vlandau opened #33 "Reduce memory demand in clip function"
Replace the existing clip function with something that only works on the necessary subset of the input array instead of copying and calculating distances for the entire thing. Should help to reduce memory consumption detailed in #27 and in [this gist](https://gist.github.com/vlandau/8917ec2f23ebb3a0bc4f9cc894fde2f2#file-functions-jl-1350-mem).

[2020-03-20 21:12] ViralBShah commented on #27
Yes, that would be because it is allocating the array each time in a loop. That's probably leading to poor performance too.

[2020-03-20 21:20] ViralBShah commented on #27
In some cases `replace!` may work better as a way to replace values with -9999 etc. Sometimes it may be slower, but save memory. Worth trying.

[2020-03-20 21:22] ViralBShah commented on #27
Inside the loops, depending on how small the inner loop is,  `arguments["radius"]` could be better to manually hoist outside the loop (assign to a variable outside the loop) so you don't have to repeatedly pay the cost inside the loop.

[2020-03-20 21:50] ViralBShah commented on #27
In general, reducing memory usage may also improve performance.

[2020-03-20 23:04] vlandau commented on #27
Thanks so much for the suggestions and insights! I'll try some of those things out.

[2020-03-21 14:58] ViralBShah commented on #27
I am sure you have seen this. But many of those tips are related to memory usage.

https://docs.julialang.org/en/v1/manual/performance-tips/

[2020-03-28 00:34] vlandau commented on #26
added with #34

[2020-03-28 00:34] #26 closed

[2020-03-28 00:35] vlandau commented on #31
done by #34

[2020-03-28 00:35] #31 closed

[2020-04-23 15:59] vlandau commented on #33
Closed by #35

[2020-04-23 16:02] vlandau opened #36 "Reduce memory in get_ground"
No need to [allocate a full-sized array](https://gist.github.com/vlandau/8917ec2f23ebb3a0bc4f9cc894fde2f2#file-functions-jl-1350-mem-L216) then clip. Waste of memory. Can allocate a square of size `1+radius+buffer` and assign value to center pixel. Related to #27.

[2020-04-23 16:14] vlandau commented on #27
Note to self: I think [this deepcopy](https://gist.github.com/vlandau/8917ec2f23ebb3a0bc4f9cc894fde2f2#file-functions-jl-1350-mem-L459) is entirely unnecessary.

[2020-04-23 16:17] vlandau commented on #27
[This](https://gist.github.com/vlandau/8917ec2f23ebb3a0bc4f9cc894fde2f2#file-functions-jl-1350-mem-L606) massive memory using line is only run once before the main Omniscape program starts up in parallel, so there is some leeway.

[2020-04-23 19:54] vlandau opened #37 "get_targets returns block coordinates outside of array dims."
[code]
Omniscape settings/conditions that gave rise to this:
`block_size = 41`
`radius = 167`
`buffer = 0`
Source array dims: 18280x14496

So `y` was < 41 pixels from array edge, which shouldn't happen. This appears to be an issue with `get_targets` returning blocks that are not fully within the source array. The minimum number of rows (or columns) in a returned source should be `radius + 1 + (0.5

[2020-04-23 20:10] #37 closed

[2020-04-23 21:05] #36 closed

[2020-04-23 21:06] vlandau commented on #27
Related to #36, which was just closed by #38

[2020-04-23 21:25] vlandau commented on #27
Omniscape is now running about 3 times faster in serial for a large problem I'm working with since applying some of these fixes, and I'm able to run it on 4 times more parallel processes! :tada:

[2020-04-24 02:38] ViralBShah commented on #27
Close?

[2020-04-24 05:12] vlandau opened #39 "GDAL memory error"
Not apparent that this is a bug. Stashing here for now.
[code]

[2020-04-24 05:38] vlandau commented on #27
Almost! Just checking a few more things.

[2020-04-24 05:42] vlandau commented on #27
Actually, I might as well close. I'm thinking allowing a 32-bit option will save GBs of memory since Omniscape will in some cases be working with up to 6 separate arrays (for large problems with climate connectivity enabled), each GB's in size. Will create another issue for that though!

[2020-04-24 05:42] #27 closed

[2020-04-24 06:28] vlandau commented on #39
Needed to call GC.gc() after threaded loop to free up memory.

[2020-04-24 06:28] #39 closed

[2020-04-24 12:37] ViralBShah commented on #27
Yes makes sense to do that now.

[2020-04-27 16:13] vlandau opened #40 "Add 32-bit option"
Will save memory for particularly large problems. Need to make sure that this works correctly with Circuitscape's 32-bit option. Granted, 32-bit will not improve things much in CS, because the individual solves are so small.

[2020-04-27 16:16] vlandau opened #41 "Suppress output from Circuitscape; but allow @info from Omniscape"
Output is too busy. Ideally we would just have two messages per solve (starting, and finished with time to complete). Right now there are up to 6 messages per solve and in parallel it is impossible to tell which "time to complete" message belongs to which Omniscape solve.

[2020-04-27 16:19] vlandau opened #42 "Review for v0.2.0 release"
Need to check code, options, docs, etc. to make sure there are no errors, typos, etc. and make sure v0.2.0 is good to go.

[2020-04-27 22:00] #42 closed

[2020-05-28 23:06] vlandau commented on #41
@ranjanan is this possible?

[2020-06-01 20:06] vlandau opened #43 "write_raster is writing empty tifs"
Cross posted with reproducible code in yeesian/ArchGDAL.jl/issues/123. It is not consistent. Sometimes things work, and it seems dependent of the environment and which package versions are installed.

[2020-06-01 22:24] vlandau commented on #43
closed with [2664d14](https://github.com/Circuitscape/Omniscape.jl/commit/2664d1431faa20cef2e4ba858e1f0eb95e31c4a4)

[2020-06-01 22:24] #43 closed

[2020-06-03 19:47] vlandau opened #44 "Test Omniscape with MKL solver in Circuitscape"
Mentioned in Circuitscape/Circuitscape.jl/issues/218. Would like to test in Omniscape using the MKL Circuitscape branch.

[2020-06-03 19:57] vlandau opened #45 "Add a walkthrough example to Omniscape docs"
Provide a section in the documentation with a worked example, describing rationale behind decision points surrounding model parameters, etc., to help provide guidance to users.

[2020-06-03 19:59] vlandau commented on #8
This initial comment is addressed in the docs currently, where there is a [section](https://circuitscape.github.io/Omniscape.jl/v0.2/usage/#Required-arguments-1) under usage detailing the required arguments to the .ini, but currently there are not any error throws if args are missing.

[2020-06-03 20:02] vlandau opened #46 "add "file not found" errors for raster inputs"
When a file path specified in the .ini does not exist, GDAL throws very cryptic error messages. Add a check to see if the file exists before moving on to reading it in with ArchGDAL.

[2020-06-05 15:10] joncjones opened #47 "Error: Error building `GDAL`:"
Just as a heads up for Windows users, a simple problem and a simple fix:

When first running Pkg.add("Omniscape") I was getting the following error:
...

┌ Error: Error building `GDAL`:

As a result Pkg.test("Omniscape") also failed with the recommendation to:

This recommendation did not fix the issue but shutting down Julia, restarting Julia and manually adding GDAL has resolved the issue:

Note

[2020-06-05 15:53] vlandau commented on #47
Thanks for posting this here! This will definitely be useful if any other users encounter a similar problem. Glad you figured it out.

[2020-06-05 15:53] #47 closed

[2020-06-05 22:57] #8 closed

[2020-06-08 22:41] ekbuchholtz commented on #37
When solving targets, I get the following error:
ERROR: BoundsError: attempt to access 568×742 Array{Float64,2} at index [489:569, 1:41]

My input ascii file is 568x742, and I'm using radius = 40, block_size = 1, buffer = 0
I have tried a variety of block sizes and radii to get them to fit, but no luck yet getting it to solve without the BoundsError.

Is there a way to figure out which combination

[2020-06-08 22:42] vlandau commented on #37
Can you run `using Pkg; Pkg.status("Omniscape")` and show the output? Omniscape v0.2 requires Julia 1.4 or greater.

[2020-06-08 22:46] ekbuchholtz commented on #37
Ok, that might be the issue that I'm in an older Julia version. I haven't been able to get Julia 1.4.2 and GDAL and ArchGDAL to play well together yet so I was just trying to use Omniscape with the older Julia version.

julia> using Pkg; Pkg.status("Omniscape")
ERROR: MethodError: no method matching status(::Pkg.Types.Context, ::String)

[2020-06-08 22:48] vlandau commented on #37
Are you on Windows by chance? If so see #47 -- wondering if you might be having similar issues to the user who posted (and solved!) it.

[2020-06-08 22:49] vlandau commented on #37
I'm not sure why this didn't work -- maybe something to do with the Julia version.

[2020-06-08 23:04] ekbuchholtz commented on #37
Yes, on Windows. At first thought it was an administrator-type problem on my work computer, but #47 solved it. Haven't gotten the Bounds error now with the updated Julia version. Thanks!

[2020-06-08 23:05] vlandau commented on #37
Awesome!! Glad you figured it out. I will add appending a note to the README/docs about GDAL issues to the to do list.

[2020-06-09 16:55] vlandau commented on #47
could be related: yeesian/ArchGDAL.jl/pull/125

[2020-06-16 19:44] #40 closed

[2020-06-16 19:57] ViralBShah commented on #41
Yes, should be straightforward. I am sure it's a logging level thing. May be able to make it an optional argument to `compute` or something.

[2020-06-16 20:37] vlandau commented on #41
Okay great! I can look into this next week on the Circuitscape side. It could be as easy as putting a Boolean in front of each `csinfo()`, e.g. `! suppress_info && csinfo(...)`

[2020-06-16 20:52] ViralBShah commented on #41
I am pretty sure it is much less effort than that. The logging level setting can just be changed in one place, and all the Info messages can be done away with.

[2020-06-16 21:53] vlandau commented on #41
Would that then suppress @info messages from Omniscape, too? I'll still need those.

[2020-06-17 02:22] ViralBShah commented on #41
@ranjanan may need to answer that one. I am not familiar with the details - but it should be straightforward to figure it out.

[2020-06-22 17:58] vlandau opened #50 "Add distance decay option for source strengths"
For Circuitscape solves in each moving window, provide the user an option to weight/adjust source strengths by distance to central target pixel using one or more different distance decay functions. This was an option in Omniscape for Python.

This needs to be discussed in the context of circuit theory generally, as well as the ecological assumptions that are made when using this option.

[2020-06-23 22:22] vlandau commented on #46
fixed in Circuitscape at [f9026bf](https://github.com/Circuitscape/Circuitscape.jl/commit/f9026bfceff7bfa3a6bb509799b5bc4fbabecddf)

[2020-06-23 22:22] #46 closed

[2020-06-23 22:30] vlandau commented on #41
bumping for @ranjanan

[2020-07-01 15:06] ekbuchholtz opened #52 "Setting parallel threads on Windows x64 PC"
I was wondering if setting the number of threads in the terminal is still the way to get Omniscape (v0.3.0) to work in parallel? I am using a Windows x64 PC with Julia v1.4.2. Everything works great, but Omniscape is only using one worker. Using Circuitscape (v5.6.0) in Julia on the same machine does work in parallel.

Prior to opening Julia, the code I used in the command line terminal:
set JULIA

[2020-07-01 16:49] vlandau commented on #52
Hi Erin, are you launching Julia from the same command prompt in which you set the `JULIA_NUM_THREADS` variable? I think in Windows `set JULIA_NUM_THREADS=4` only sets it for the current session, so you need to launch Julia from that same session.

[2020-07-01 17:53] ekbuchholtz commented on #52
Hi - thanks, that was the issue. Launching Julia from the same session works.

[2020-07-01 17:53] #52 closed

[2020-07-24 14:57] joncjones opened #53 "Buffer adjustment for sources results in incorrect dims when buffer > 0"
Hello all - Can you please advise me on this - I am trying to run a test with Omniscape and it starts normally but then crashes with the following error:

[code]

I am running the latest version of Omniscape (downloaded today) with Julia 1.4.2 on a Unix machine  [High Performance Cluster](https://arc.leeds.ac.uk/systems/arc4/).

The files I am using are here:
[RUN6.zip](https://github.com/Circuits

[2020-07-24 16:26] vlandau commented on #53
Sure happy to take a look. Was there a stacktrace preceding or following that error message? If so can you append it to your initial message? Thanks!

[2020-07-24 16:33] joncjones commented on #53
Great thanks!  There was nothing else - I put everything that was thrown out by the HPC (as .e or .o files) into run6-output.txt (see above).

[2020-07-24 17:12] vlandau commented on #53
For my and other devs' reference, here's the full stacktrace extracted from the output text file. Pretty sure it's out of order, I'll rearrange if/when I figure it out
[code]

[2020-07-24 17:32] vlandau commented on #53
Good news, I'm able to reproduce on my local machine so I'll get this fixed. It looks like this results from having a buffer specified in the ini. This feature (an additional buffer added to each moving window) is not essential or particularly useful, so for now, it you remove the buffer argument from your ini it should work for you.

Stacktrace from my local machine:
[code]

[2020-07-24 18:19] joncjones commented on #53
Ok that sounds promising - I will comment that out. I think I just grabbed a .ini from the test folder (config7.ini I think) and edited that so it must have been preset.

I will run it again and let you know what happens.

Thanks !

[2020-07-24 18:49] joncjones commented on #53
Seems to complete the test fine now - well done and thanks for the speedy response !

[2020-07-24 18:51] vlandau commented on #53
Excellent! I've got a fix in the works for the buffer issue. There should be a patch release for Omniscape today that fixes it -- just double checking test results, etc. Thanks for identifying this bug!

I'll close the issue once I successfully merge the fix.

[2020-07-24 20:00] #53 closed

[2020-08-05 18:04] vlandau opened #55 "Add resistance reclass option"
Same as old Circuitscape reclass table option

[2020-08-06 21:42] vlandau commented on #41
Currently a PR in the pipeline for Circuitscape, Circuitscape/Circuitscape.jl/pull/255, will just add an .ini arg to Omniscape that will be piped into Circuitscape once that PR is merged and next version of Circuitscape is released.

[2020-08-06 22:46] #55 closed

[2020-08-07 16:55] ricschuster commented on #45
Hi @vlandau,

Great NACCB talk and great to see Omniscape development in Julia!
Do you happen to have a worked example that you could share at this point?
I'm new to Julia (R user), but am very curious to try this out and see if it could be useful for our work.

Thanks!

[2020-08-07 17:08] vlandau commented on #45
Hi @ricschuster, super glad you enjoyed the talk, thanks for tuning in! I don't have a completely worked example yet, but I have some example .ini files that might helpful to check out for now? There are a bunch of test files (including .ini's, resistance surfaces, source strength surfaces, and climate rasters) [here](https://github.com/Circuitscape/Omniscape.jl/tree/main/test/input) that might be

[2020-08-07 17:11] ricschuster commented on #45
Thanks @vlandau!
Do you by chance have a quick description of the files in the test folder, or should I just go about and play around with them?

[2020-08-07 17:16] ricschuster commented on #45
Sorry, another question: do you happen to have some files for a 'realistic' example that you could share as well?
I do have resistance surfaces from circuitscape projects, but I want to make sure that the resistance and ini file combination works, before trying on our data.

[2020-08-07 17:32] vlandau commented on #45
I don't have anything immediately on hand unfortunately, but I would like to add a "tutorial" folder to the repo with some small but non-random resistance surfaces in the coming weeks (maybe I can use the classic resistance surface that Brad created for Circuitscape.py). Any resistance surface that works for Circuitscape will also work for Omniscape, for what that's worth, but definitely a good ca

[2020-08-07 17:37] ricschuster commented on #45
Thanks very much for this description!

I'm happy to report that this is working without any hiccups and I do get the outputs in folder test3.
Really looking forward to exploring this further and scaling up.

[2020-08-07 17:55] vlandau commented on #45
Awesome! Don't hesitate to reach out with any more questions, bug reports, or feature requests as well!

[2020-08-12 20:16] #41 closed

[2020-08-12 20:20] vlandau opened #58 "Last row/column of targets sometimes not solved."
An indexing error sometimes prevents last row/column of targets from being solved and accumulating current

[2020-08-12 20:20] vlandau commented on #58
Solved at [07e1704](https://github.com/Circuitscape/Omniscape.jl/commit/07e170411b17dc2979f83bc583d3262a53f7322b)

[2020-08-12 20:20] #58 closed

[2020-08-25 17:58] vlandau opened #59 "Add alternative `run_omniscape` method that accepts arrays and a dict of args"
This will improve interoperability with other Julia packages, and allow for a pure Julia analysis pipeline.

Considerations:
- Should arrays be georeferenced, and be of a spatial data type? Or just regular arrays with optional separate arguments for geotransform and wkt. Consider using types from either GeoArrays or GeoData?

[2020-08-28 13:31] pkenya opened #60 "Add option to pass connect_four_neighbors_only option to Circuitscape"
Hi all, thanks for a great package, enjoying using it.  Is it possible to pass and argument to circuitscape to limit connectivity to connect to four neighbours only, rather than the default 8?

i.e in Circuitscape you can set connect_four_neighbors_only = True

Cheers,

Pete

[2020-08-28 16:06] vlandau commented on #60
Glad you're enjoying the package @pkenya! For now this is not possible in Omniscape but I may be able to add that possibility somewhat easily assuming that Circuitscape in Julia carried that feature over from Circuitscape.py. I'll double check that Circuitscape has that feature still, then if so, I'll explore adding it to Omniscape. Will post back here with what I find.

[2020-08-28 16:49] vlandau commented on #60
Okay, I've got this working on the [vl/fourneighbors](https://github.com/Circuitscape/Omniscape.jl/tree/vl/fourneighbors) branch. Would you mind testing with this branch to confirm it is working for you as expected? Add `connect_four_neighbors_only = true` to your Omniscape .ini to set the option.

You can install Omniscape from the vl/fourneighbors branch by running to following in Julia (make su

[2020-08-29 09:48] pkenya commented on #60
Great - will try it now and give feedback.

Thanks!

[2020-08-29 11:13] pkenya commented on #60
Working as expected on a small subset of my data, I tested `connect_four_neighbors_only = true ` and `connect_four_neighbors_only = false`, and both produced results that look as you would expect for the cumulative current maps and the normalized ones dependent on the four or eight neighbors. I'm going to run this on my full dataset now. Thanks again

[2020-09-03 14:32] slamander opened #62 "Errored pkg.test() and run_omniscape() returns "BoundsError""
Hi CS and OS community,

I'm attempting to run OS (v 0.4.0) through R (v 4.0.1), however it always returns the same error (**see Error 1**). So, I then ran a  `Pkg.test` in Julia, which returned a testing error (**see Error 2**). I then installed a dev version, which passed the package test, but when I attempt to run it on my own data (through R or Julia), it throws Error 1 again. I have almost 30

[2020-09-04 21:23] vlandau commented on #60
Excellent, thanks! Sorry for the late response here. I'll go ahead and merge that pull request. I have one other addition to make to Omniscape.jl before issuing a new release, so expect this to be available in Omniscape v0.5.0 within the next couple of weeks! Until then, you can install directly from the "main" branch to be able to use this functionality.

[2020-09-04 21:23] #60 closed

[2020-09-07 18:21] slamander commented on #62
**Update:** I reinstalled Julia and now `Omniscape` passes `Pkg.test`, however `run_omniscape` still returns the same error (see **error 1** above). Just to confirm, the files I used are [here](https://drive.google.com/drive/folders/1lgoPAOV5ZsfJB_EyngiHFdx2mgPmQ4n-).

[2020-09-08 04:59] vlandau commented on #62
Hi @slamander sorry for my late reply here. For some reason I missed the notification when you posted the original issue! Tests are passing for me as well in Julia 1.5.0 -- glad you got that working.

I will get a chance to look into this issue more thoroughly tomorrow, but right off the bat, I am seeing `[a38d70fc] Omniscape v0.1.4` in the error output above. It looks like you are using Omniscape

[2020-09-08 14:06] slamander commented on #62
Hey @vlandau, no worries, I'm sure my incessant issue posting is driving you mad. Now that I've updated Julia and Omniscape, I believe you solved it! Here's what you asked for:

**Julia:**
[code]
**R:**
[code]

**Julia:**
[code]
**R:**
[code]
I no longer get the errors mentioned above, instead a more common `OutOfMemoryError()` error. Curious, are there any resources you can point me toward that g

[2020-09-08 16:54] vlandau commented on #62
No worries at all! The out of memory error means that your machine doesn't have the memory resources needed to run given the problem size. This isn't significantly affected by `block_size`, `radius`, or `buffer`, unless you have an very large radius (>>1000 pixels). In my experience out of memory errors have been due to very large resistance grids. How many pixels is your resistance grid?

One way

[2020-09-08 16:54] #62 closed

[2020-09-08 17:29] vlandau commented on #21
Closing. If/when a more well-formed idea comes along, can re-open a new issue.

[2020-09-08 17:29] #21 closed

[2020-09-08 17:30] vlandau commented on #44
@ViralBShah is this still worth doing, or did you say the PARDISO solver doesn't offer much savings over cg+amg?

[2020-09-08 18:38] ViralBShah commented on #44
Relevant PR https://github.com/Circuitscape/Circuitscape.jl/pull/225

[2020-09-09 16:41] slamander commented on #62
Great, thanks @vlandau. This is very helpful information, and I appreciate you turning me to the gitter forum! Omniscape is an awesome tool!

-Alex.

[2020-09-16 20:09] vlandau opened #63 "Switch from @info messages to progress bar to monitor the job's progress"
Currently,  `run_omniscape` sends prints to the terminal for every moving window solve, e.g.:
[code]
It gets a bit ridiculous when you have a ton of moving window solves to do (for example, a problem I'm running has 138,234 solves)

I think it would be preferable (and easy) to instead use a progress bar from [ProgressMeter.jl](https://github.com/timholy/ProgressMeter.jl) that reports the % complet

[2020-09-17 02:28] #63 closed

[2020-09-17 02:30] vlandau opened #65 "Add `run_omniscape` method that operates on in-memory arrays"
It would be valuable for larger, pure-Julia workflows to have a `run_omniscape` method that takes a dictionary with Omniscape parameters and in memory arrays or other spatial raster data types  for resistance, source strength, and other raster inputs.

[2020-09-17 03:51] vlandau opened #66 "r_cutoff not applied with resistance_file_is_conductance = true"
[Here](https://github.com/Circuitscape/Omniscape.jl/blob/546858085d391d88c6ef94f1ccb1fc88a7f2315f/src/run_omniscape.jl#L87-L94), it is clear that r_cutoff is only applied when `resistance_file_is_conductance = false`. Need to fix so it is still applied when `resistance_file_is_conductance = true`, per [the docs](https://docs.circuitscape.org/Omniscape.jl/v0.4.0/usage/#Arguments-1) entry for `r_cut

[2020-09-17 04:11] vlandau opened #68 "NoData handling is not ideal for condition1, condition2, condition1_future, and condition2_future"
Currently, `Circuitscape.read_raster` overwrites NoData in the rasters with -9999. In (possibly rare) cases, the range of possible values for the condition rasters being fed into Omniscape could include -9999, so setting NoData pixels to -9999 in the array representation would mess things up.

I'm not sure the best way to handle this. One less-than-ideal option comes to mind:
- Impose restrictions

[2020-09-17 04:37] vlandau opened #69 "Add variants of Circuitscape's read_raster and write_raster directly to codebase and retool NoData handling"
Need to better handle NoData values. Related to #68.

Use `missing` for NoData pixels, and just manually reassign `missings` in resistance and source arrays to -9999 prior to Circuitscape run to make it happy.

[2020-09-17 04:57] vlandau commented on #68
Closing and dealing with this on #69

[2020-09-17 04:57] #68 closed

[2020-09-17 06:10] #66 closed

[2020-09-17 19:48] vlandau commented on #60
This will be released Omniscape v1.0

[2020-09-20 04:18] vlandau commented on #65
Whoops, dupe of #59

[2020-09-20 04:18] #65 closed

[2020-09-20 04:41] #69 closed

[2020-09-21 00:08] vlandau opened #72 "Improve tests"
Need to update tests to verify computed results against known results, as in Circuitscape's output_verify.

[2020-09-21 03:09] vlandau commented on #72
Fixed at [290166f](https://github.com/Circuitscape/Omniscape.jl/commit/290166f9cf8a2669be2fba5592134fd0dce7f1de)

[2020-09-21 03:09] #72 closed

[2020-09-21 03:38] #59 closed

[2020-09-21 05:08] vlandau opened #74 "Add argument to in-memory run_omniscape method to prevent writing anything to disk"
Title says it.

[2020-09-21 09:01] joncjones opened #75 "Out of memory errors - advice please"
Hi - I am getting the following error:

ERROR: LoadError: OutOfMemoryError()
Stacktrace:
 [1] Array at ./boot.jl:409 [inlined]
 [2] Array at ./boot.jl:416 [inlined]
 [3] fill at ./array.jl:452 [inlined]
 [4] fill at ./array.jl:450 [inlined]
 [5] run_omniscape(::String) at ###/.julia/packages/Omniscape/ZVGgl/src/run_omniscape.jl:212
 [6] top-level scope at ###/run_trial.jl:7
 [7] include(::Module,

[2020-09-21 16:09] vlandau commented on #75
The memory usage is larger with a larger grid because Omniscape has to allocate arrays in-memory of that size. For the case with 160M cells and 40 parallel workers, to store the solves from each thread Omniscape needs to allocate 40 64-bit floating point arrays of that size, which would be would be ~ 40 * 160M * 64 bits = 51.2GB. If you're also calculating flow potential, you need an additional ob

[2020-09-21 16:09] #75 closed

[2020-09-21 17:53] vlandau commented on #75
Also, I see the line that is causing the memory overflow for you is [here](https://github.com/Circuitscape/Omniscape.jl/blob/v0.3.0/src/run_omniscape.jl#L212), and you'll see that this corresponds to allocating one of those large arrays I mentioned.

[2020-09-22 04:45] #74 closed

[2020-09-22 14:57] joncjones commented on #75
Thanks Vincent - your comments above might be useful pasted into Usage to guide others ?

For my side I will both get a bigger computer and run with fewer workers and see if I can get closer to my holy grail of 20m so the connectivity layer matches the other input data layers in the final map I am working on. To do this at the national scale however means working with a grid with 1.4b cells...

al

[2020-09-22 16:09] vlandau commented on #75
Good idea -- I can add a section "Tips for working with large resistance surfaces" or something to that effect.

Since Omniscape solves in moving windows independently, one option for your large (1.4b pixel) problem would be to break it up into subsets (that overlap by at least 2*`radius` pixels) and solve them individually.  Then you can combine the results, taking the maximum value of inputs, to

[2020-09-22 16:10] vlandau opened #76 "Add docs section with tips for working with larger raster inputs"
In response to #75

[2020-09-22 23:18] vlandau opened #77 "Reclass not working in in-memory method of run_omniscape on main"
Need to look into this further

[2020-09-22 23:18] vlandau commented on #77
Whoops -- just kidding

[2020-09-22 23:18] #77 closed

[2020-09-23 00:22] mairindeith commented on #77
Sent from my mobile

On Tue, Sep 22, 2020, 16:18 Vincent Landau, <notifications@github.com>
wrote:

[2020-09-23 20:16] vlandau opened #78 "Add INI writer that takes Dict as arg and creates new file in output"
In versions <= 0.4.0 the .ini was copied over from it's source location to the outputs folder. This didn't work seamlessly for the new method so I got rid of it, but should add back.

[2020-09-23 20:36] #78 closed

[2020-10-02 18:36] vlandau opened #79 "Offer a "low memory mode""
Often grids are so large that allocating arrays requires tons of memory. Each moving window solve is independent, so a low-memory mode may be _relatively_ simple.

---

Two options come to mind:
#### 1. Split the landscape into chunks, and solve the chunks in serial
The landscape could be split into adjacent, non-overlapping rectangular or square chunks. Each chunk (and corresponding inputs) would

[2020-10-29 19:22] vlandau commented on #44
Closing for now -- can re-open if/when Pardiso is implement in Circuitscape master

[2020-10-29 19:22] #44 closed

[2020-11-09 16:02] blindjesse opened #84 "Difference sources and "targets""
How possible would it be to implement the ability to have different source and "target" layers?

[2020-11-09 16:41] vlandau commented on #84
You'd have to hack the code a bit, but it would be possible. First, you would need to add a new argument (raster input) for the the targets, and feed that into the `get_targets` and `get_ground` function. One problem is that the total current injected for each moving window solve is equal to the source strength of the target pixel (see [here](https://github.com/Circuitscape/Omniscape.jl/blob/main/

[2020-11-09 16:57] vlandau commented on #84
Actually on second look, you wouldn't have to adjust `get_source` at all, as long as your okay with the total current being equal to the strength of target pixels (see the `strength` argument to `get_source` .

[2020-11-30 15:50] coport opened #85 "Pointer 'hDS' is NULL in 'GDALGetGeoTransform' error"
I successfully ran a 50x50 matrix of randomly generated numbers with xy corner = 0, but when trying to use a 100x100 cell matrix I run into this error.

On a different note, is it possible to input xy coordinates for each individual cell?  Also, when working with a real, large landscape, do you recommend working with a TIFF file over an ASCII?

[2020-11-30 17:07] vlandau commented on #85
Hi @coport, could you post the entire error stacktrace and format it as a code block (wirting three backticks, ```, in the line preceding and following the code)? Also, are you using the INI file method or are you creating the matrix in memory and using `run_omniscape`'s second method? I'm not sure what you mean by xy corner. Do you mean xllcorner and yllcorner in the ASCII header? I would recomme

[2020-12-06 21:56] coport commented on #85
Heres the stacktrace:

[code]

[2020-12-06 22:10] vlandau commented on #85
Would you mind sharing your resistance file so I can debug? A google drive of drop-box link would be great. I suspect that there's something wrong with the file.

[2020-12-06 23:50] coport commented on #85
Yes, here you go, thank you so much!
https://drive.google.com/file/d/15v9VhMVblfLCv-86gyksRwjotmKZER2f/view?usp=sharing

[2020-12-07 00:00] vlandau commented on #85
Hmm, I'm able to load it just fine using the function that is causing problems for you. Are you using the latest version of Omniscape?

[2020-12-13 21:43] vlandau opened #86 "Only set BLAS threads to 1 when doing parallel processing"
Add control flow for this line, only do it if parallel == false or nthreads == 1

[2020-12-15 22:39] vlandau commented on #85
@coport are you still having issues?

[2020-12-31 23:58] vlandau commented on #85
I was not able to reproduce this issue. Since we haven't heard back, I'm going to close this issue, but please feel free to reopen it if you continue to have the same problem and can't find a solution.

[2020-12-31 23:58] #85 closed

[2021-01-01 00:21] #86 closed

[2021-01-01 00:22] vlandau commented on #45
Closed with addition of new Examples section in the docs :tada:

[2021-01-01 00:22] #45 closed

[2021-01-15 21:01] vlandau opened #88 "Segfault when Parallel processing"
See this [post](https://discourse.julialang.org/t/non-deterministic-segfault-only-triggered-on-github-actions-tips-for-debugging/53367) on the Julia discourse.

[2021-01-19 20:13] vlandau commented on #88
See JuliaLang/julia/issues/39278. Looks like a fix likely won't be backported to Julia 1.5, but it is fixed in 1.6, so we'll just bump compat to Julia 1.6 once it is released.

[2021-01-19 20:13] #88 closed

[2021-01-20 16:57] JuliaTagBot opened #89 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-01-20 16:57] #89 closed

[2021-01-28 22:18] plthompson opened #90 "Incorporating directional ocean currents"
Hi there,

I'm interested in applying Omniscape/Circuitscape to model fish movement in a marine environment. I'm wondering how difficult it would be to include directional ocean currents in the analysis. Something like what was done by Dambach et al. (2016) - https://onlinelibrary.wiley.com/doi/10.1111/maec.12343 but across the entire area rather than between just a few source and target locations

[2021-01-28 23:31] vlandau commented on #90
Omniscape currently doesn't support directional resistance graphs (i.e. where the resistance from A to B is different from the resistance from B to A), and I believe Circuitscape also doesn't, though it may in network mode (? cc @ranjanan).

I think adding such a feature would be of general value to the connectivity modeling community. An additional example (on top of things like water currents) w

[2021-01-29 01:00] Kim-Hall commented on #90
@plthompson @vlandau @ranjanan -- Hi all -- I've seen some fairly simple ways of handling directionality with wall to wall Circuitscape (or what some call "omnidirectional", which I avoid because it sounds like Omniscape...).   Anyway, you could run current from one long column of "source" rasters (for example running north to south, so current would flow west to east) and have a similar column of

[2021-01-29 01:29] plthompson commented on #90
@vlandau and @Kim-Hall, thanks for your quick responses and suggestions. I think that these solutions may work for us, in particular the directional weighted graphs approach. But, I was wondering if it would be feasible to run all pairwise combinations of pixels, each time redefining resistance relative to the source. Pairwise pixels could be constrained to within a given search radius as in Omnis

[2021-01-29 01:42] vlandau commented on #90
@plthompson I think Omniscape wouldn't be exactly what you want, because it simultaneously solves for current multiple sources and a given target pixel in each solve iteration. To do things truly pairwise would require some custom code that implements Circuitscape iteratively in a similar way to Omniscape. But if you were already doing that, you could presumably adjust resistance on the fly based

[2021-01-29 02:14] plthompson commented on #90
@vlandau that makes sense. I'll try to run it iteratively using Circuitscape. Thanks for your suggestions and for a great package.

[2021-01-29 02:22] vlandau commented on #90
Always happy to help how I can! Don't hesitate to reach out if we can help along the way with clarifications, feedback, etc.

[2021-01-29 14:37] Kim-Hall commented on #90
@plthompson we at TNC have some python scripts for deploying the Julia CS in the wall to wall method with tiles, and then stitching those tiles together.  It doesn't sound like that's the way you want to go, but just FYI.  We should probably set that whole workflow up in Julia -- each approach has different strengths.

[2021-01-29 16:55] plthompson commented on #90
Thanks @Kim-Hall. I'm going to explore the iterative method first, but I can definitely see where the wall to wall method would work well.

[2021-02-12 02:47] coport commented on #85
Hello! Thank you for your responsiveness with this, I think whatever issue I was running into had more to do with JuliaPro than anything else but everything has been working fine from the Terminal.

I have some new questions about using Omniscape to model forest connectivity from tree cover data.  I'm attaching side-by-sides of my raw forest cover data and their resulting outputs from Omniscape (s

[2021-02-12 16:35] vlandau commented on #85
Glad to hear the issue was resolved. Regarding your questions about the outputs, this would be a good conversation to have on our [gitter page](https://gitter.im/Circuitscape/Omniscape.jl). Do you mind starting a thread there?

[2021-02-16 16:31] glaroc commented on #79
This would be a huge improvement for the scalability of Omniscape. I feel like solution 1 would be infinitely scalable, which isn't the case for solution 2, no?

[2021-02-17 16:00] HGSvR opened #91 "Problem running Omniscape"
julia> using Pkg; Pkg.add("Omniscape")
   Updating registry at `C:\Users\ac102092\.julia\registries\General`
   Updating git-repo `https://github.com/JuliaRegistries/General.git`
  Resolving package versions...
No Changes to `C:\Users\ac102092\.julia\environments\v1.5\Project.toml`
No Changes to `C:\Users\ac102092\.julia\environments\v1.5\Manifest.toml`

julia> run_omniscape
ERROR: UndefVarError:

[2021-02-17 16:32] vlandau commented on #91
You need to run `using Omniscape` to load the package into the environment. Then the run_omnicape function will be available.

[2021-02-17 16:32] #91 closed

[2021-02-17 16:38] vlandau commented on #79
Yeah, on a second read after leaving this for a while, I'm preferring option 1 above... I think it would be faster and also easy to test for correctness.

[2021-02-17 16:58] glaroc commented on #79
But thinking more about it, option 2 if implemented well could be more suited for HPC where each thread is using very little memory. Ultimately, this might be the best solution.

[2021-02-17 17:13] vlandau commented on #79
Yeah, I think option 1 has the opportunity to be much faster though (lazy read/write plus associated lock/unlocks in the code for thread safety for that many operations could involve massive overhead).

Also, if in option 2 there were N output GeoTiffs that were written to separately for thread safety, where N is the number of threads, then each of those N tiles would be the full size of the lands

[2021-03-09 20:22] vlandau opened #92 "Compute time doesn't seem scale well increasing number of threads past a certain point"
I have noticed scaling issues with Omniscape's multithreading, where once the number of threads gets to be high enough, compute time actually starts to _increase_. The problem I was using is quite large, and I'm running it on an expensive VM, so below, instead of recording the actually compute times, I'm showing the projected compute time from ProgressMeter.jl after letting the job run for a while

[2021-03-09 20:39] ViralBShah commented on #92
There’s only 16 physical cores, right? So using more than 16 threads will not help for compute bound workloads. That sort of thing helps for I/O bound workloads, where the threads are not all busy at the same time.

[2021-03-11 18:54] glaroc commented on #79
I tested option 1 by splitting the input resistance map in Bash+GDAL first into overlapping tiles, then running Omniscape on each tile, and finally remosaic the tiles in Python using rasterio.merge(method="max). It works really well and you don't see any stitch marks in the final output. I looked at the Omniscape code and I see it would require some significant refactoring to do this within Omnisc

[2021-03-11 19:17] vlandau commented on #79
Awesome! Glad it worked well. I think there might be a way to mosiac the TIFFs using GDAL.jl or ArchGDAL.jl? But actually, I use gdal_merge.py from the command line when merging rasters, and maybe that's not available in Julia...

We could possibly do it with GeoData.jl. There may be a way to create an empty GDALarray, then write to it lazily using GeoData.jl. The key is lazy writing, to ensure th

[2021-03-11 19:20] glaroc commented on #79
Just a note to mention that gdal_merge.py doesn't allow to take the maximum value of overlapping pixels. If you don't do this, there will be some serious stitch marks.

[2021-03-11 19:23] vlandau commented on #79
Also, the tiling of the landscape could end up giving us a solid foundation from which to build out functionality to enable hierarchical parallelism.

[2021-03-12 00:37] rafaqz commented on #79
GeoData.jl has the `open` method the you use with a do block to write to the open ArchGDAL.jl/DiskArrays.jl dataset underneath. I havent really tested it for writing, more just for reading larger-than-memory files. But this should be doable and easy in Julia, I havent petsonally been pushed to ensure that because my datasets are only ever that big along the time dimension. I would be happy to help

[2021-03-12 01:06] vlandau commented on #79
Thanks @rafaqz! I'll keep you in the loop when I find time to work on this, and may solicit some feedback as I go 🙂

[2021-03-31 18:14] vlandau opened #93 "Add support for alternative CS solvers"
Waiting on Circuitscape release with CHOLMOD support for advanced model, but this is partially implemented in [vl/cholmod](https://github.com/Circuitscape/Omniscape.jl/tree/vl/cholmod)

[2021-03-31 18:16] vlandau opened #94 "Add error when INI or cfg dictionary have unsupported arguments"
This will save users a lot of frustration. I had an issue myself, where I used `resistance_file_is_conductance` instead of `resistance_is_conductance` in an INI -- ran the entire job (10 hours on an HPC Azure VM....), then only realized the error I had made when I noticed the output looked completely off.

[2021-03-31 18:17] vlandau commented on #94
Currently being worked on in [vl/cholmod](https://github.com/Circuitscape/Omniscape.jl/tree/vl/cholmod). Will be implemented at the same time as #93.

[2021-04-01 19:17] vlandau opened #95 "Compute flow potential and current flow in separate loops to save memory"
Right now both flow potential and cumulative current are solved in the same loop.

e.g.:
[code]
 so storage arrays (X by Y by N_THREADS; which are then summed along the N_THREADS dimension) need to be allocated for both at the same time... if flow potential was solved first, then it could be summed and stored as an X by Y array, and the storage array removed before allocating the array for storing

[2021-04-01 19:32] ViralBShah commented on #95
The standard question in all of parallel computing. The answer often is - implement it both ways - and use whichever one works better.

[2021-04-01 19:36] vlandau commented on #95
With the threadsafe 3D array vs. locks/unlocks on a 2D array? Yeah, I should, and do some formal benchmarks -- won't hurt for me to get more familiar with locks/unlocks too.

[2021-04-01 19:49] ViralBShah commented on #95
Yes. But you'll need to test it with big problem sizes. I mean you only have a handful of tasks, and I suppose they can do all their partial sums locally.  I can't imagine the locking and unlocking for the final part to take more than a second. But would love to see what you find. Without knowing the sizes of the 3d array and how it grows with input size, it is hard to tell.

[2021-04-01 19:55] vlandau commented on #95
Yeah -- definitely will need any benchmarks to consider different map sizes, moving window sizes, and other options within Omniscape. It will be a valuable exercise I think.

[2021-06-01 21:40] vlandau commented on #93
Done in version 0.5.0

[2021-06-01 21:40] #93 closed

[2021-06-01 21:40] vlandau commented on #94
warning now shown in version v0.5.0

[2021-06-01 21:40] #94 closed

[2021-06-14 12:29] peggyn7 opened #97 "Pkg.add error"
When trying to load either Omniscape or Circuitscape in Julia, I get the following error:
UndefVarError:Pkg not defined.

So, these packages are no longer loading automatically with the Julia installation. What is the best way to load Omniscape or Circuitscape so that you can add it in Julia with no issues?

[2021-06-14 13:34] peggyn7 commented on #97
I figured it out.  Instructions

Toggle to the Pkg REPL:
At the Julia> prompt, type "]" and hit Enter

Add the Omniscape package:
At the pkg> prompt type "add Omniscape"

Toggle back to the Julia REPL:
Click on "Backspace" to return to Julia> prompt

Import the Omniscape package:
At the Julia> prompt, type "import Omniscape"

But how to run it?

[2021-06-14 16:15] vlandau commented on #97
To run this in a script you have to do `using Pkg` or `using Omniscape` to load the package and its functions into the environment. Hope that helps!

[2021-06-14 22:33] vlandau commented on #92
This was one a 16 core/32 thread machine

[2021-06-14 22:35] vlandau commented on #92
Primarily I would like to see better performance when looking at 16 threads on a 16 physical core machine vs 32 threads on a 32 physical core machine. By doubling the threads (and # of physical cores in total) I was only getting a modest speed up of ~20%

[2021-06-15 02:21] ViralBShah commented on #92
Perhaps memory contention when reading from the same memory locations? Or is more GC happening?

[2021-06-15 21:04] vlandau commented on #92
Hmm, that's a good thought about memory being read from the same locations... that will certainly be happening sometimes. I do randomize the solves, so that should help in that adjacent points regions won't often be getting solved at the same time (and overlapping portions of the inputs are less likely to be read simultaneously as a result) There's also plenty of GC for all of the inputs for each

[2021-06-15 23:32] trantom commented on #97
Hi Vincent.  Thank you for the help.  Peggy and I worked together to get it to run thanks to all the available documentation and discussions on gitter.  Feel free to close this issue!

[2021-06-16 00:03] vlandau commented on #97
Excellent! So glad that the documentation helped! Always feel free to post back here or on Gitter if any more questions come up!

[2021-06-16 00:03] #97 closed

[2021-06-16 18:08] peggyn7 opened #99 "nested task error: AssertionError: norm(G * v - curr) < if eltype(curr) == Float64"
Hello,

I am getting an error message when trying to run Omniscape version 0.5.0 in Julia version 1.6.1.

When we previously used Omniscape version 0.1.4 in Julia version 1.3.1, the processing was completed successfully.

The successful ascii file had the following characteristics:
For my sample ascii file I have:
ncols         1565
nrows         1011
xllcorner     6414438.576614
yllcorner     184

[2021-06-16 18:14] vlandau commented on #99
@peggyn7, this is cause by an issue with Circuitscape. One thing you might try is changing the solver to CHOLMOD, as it is less likely to cause an `AssertError` because it has a higher error tolerance.

@ranjanan I'm not sure what the best way forward is. Maybe a new argument to the Circuitscape INI that specifies a higher tolerance (obviously to be used with great caution)? I'm also not sure if w

[2021-06-16 18:38] blindjesse commented on #99
In my (particular) case I had to switch to CHOLMOD _and_ single precision. Haven't had a chance to look any deeper to see if it's related in any way to the source / resistance, ini etc.

[2021-06-17 13:46] peggyn7 commented on #99
Thanks so much for your help!  We made the following change to the configuration file and it worked.

precision = single
solver = cholmod

[2021-07-23 16:28] linhunt opened #100 "Error Message received multiple times: AssertionError: norm(G * v - curr) < if eltype(curr) == Float64"
I am receiving this error message using different inputs files and on different computers. The run throws this error message but continues to compute on one of the PC's and seems to have frozen on the other PC.  This is using Julia 1.6.2 and the newest version of Omniscape. We also successfully ran Omniscape using the same input files but with a smaller block/radius with no error messages. Does th

[2021-07-23 16:30] linhunt commented on #100
I am not able to add the screenshot the error messages are
ERROR: TaskFailedException & ERROR: nested task error
they both have long stack trace codes after them which I can try to send to you if that is needed.

[2021-07-23 16:31] vlandau commented on #100
Yes please copy and paste the full stacktrace in a code block if you can!

[2021-07-23 16:37] linhunt commented on #100
Progress:   1%|█                                                 |  ETA: 11.88 daysERROR: TaskFailedException
Stacktrace:
 [1] wait
   @ .\task.jl:322 [inlined]
 [2] threading_run(func::Function)
   @ Base.Threads .\threadingconstructs.jl:34
 [3] macro expansion
   @ .\threadingconstructs.jl:93 [inlined]
 [4] run_omniscape(cfg::Dict{String, String}, resistance::Matrix{Union{Missing, Float64}}; rec

[2021-07-23 16:38] vlandau commented on #99
Reopening until this can get fixed in Circuitscape.

[2021-07-23 16:43] vlandau commented on #100
That appears to be the same problem as #99 which I just reopened. Unfortunately it is an issue with Circuitscape as opposed to Omniscape. I'm going to open an issue in [Circuitscape/Circuitscape.jl](https://github.com/Circuitscape/Circuitscape.jl) and link this and the other issue. What is your problem size? (how big are the input rasters?)

[2021-07-23 16:43] vlandau commented on #100
cc @ranjanan

[2021-07-23 16:49] linhunt commented on #100
Oh I'm sorry I didn't realize there was already an issue submitted for this error message. The .tif input file is 1.7GB up until the last few weeks we had been able to run these large problems with no error/warning messages popping up at different block/radius settings. I am currently running one of these larger problems on using Julia 1.5.3 and which ever version of Omniscape was available at the

[2021-07-23 17:11] vlandau commented on #100
No worries! The issue was closed when I should have kept it open. The reason it's not working with the latest version of Omniscape is because that version uses the latest version of Circuitscape, which is where the problem is coming from. I'll open that issue in Circuitscape.jl since that's where this will need to be fixed, and link this issue.

In the mean time, if you force Julia to install Circ

[2021-07-23 20:31] vlandau commented on #100
@linhunt can you tell me a bit about your inputs? Are you using just a resistance surface and deriving sources from that, or are you using separate resistance and source strength inputs. Also for any inputs, what is the range of values. I'm just trying to gather some data on the sorts of inputs that seem to trigger this issue to get an idea of where to start to find a solution. Thanks!

[2021-07-23 20:49] linhunt commented on #100
Hi,
So the input is a .tif file the cover the Northern Lakes and Forests (basically all of the MI upper peninsula, Northern Wisconsin, Northern Minnesota, and a little further west). The file was created in ArcGIS from the National Landcover Dataset so it is at a 30x30m resolution. I converted the landcover data into resistances in ArcGIS so we aren't using the reclassify_resistance option from th

[2021-07-23 20:55] vlandau commented on #100
No that's all great info thank you! I'll try to see if there are any similarities with inputs from other users that have experienced this issue

[2021-07-23 22:24] vlandau opened #101 "Benchmark CHOLMOD vs CG+AMG solvers"
There was a user report that compute times were not improved when using the CHOLMOD server. A formal benchmark -- probably using [the example in the docs](https://docs.circuitscape.org/Omniscape.jl/latest/examples/#Forest-connectivity-in-central-Maryland), should let us know if there is something strange going on. Perhaps Circuitscape isn't actually using CHOLMOD, which suggests an error in Omnisc

[2021-08-02 13:25] linhunt opened #102 "ERROR: TaskFailedException: Adjacency / distance matrices must be symmetric"
Good Morning and Happy Monday!

After about 14 days and at 97% A large run I was performing crashed giving me this error message. Like in my other runs I have just one input file which has the resistances and the sources and targets are derived from this one file. Also this is the same file I have successfully run omniscape on many times. This run just has different resistance values, and differen

[2021-08-02 16:18] vlandau commented on #102
Ugh, it is never nice to get errors so late in a large compute task. Sorry about this. It appears that something is happening in Circuitscape's construction of the graphs, which could either be due to a bug in Circuitscape, or an issue with an input that Omnsicape is passing to Circuitscape.

@ranjanan is there any reason that Circuitscape would produce a non-symmetric distance matrix? This certai

[2021-08-02 16:56] ranjanan commented on #102
Yeah sorry @linhunt, this is never nice. Vincent, if you could track down the particular rows, if you can track down the portion of the moving window which is causing this I can then debug on the Circuitscape. It shouldn't produce an asymmetric matrix in any case.

[2021-08-02 17:33] linhunt commented on #102
Hey, no worries! I appreciate you working on debugging this.

Lindsay
________________________________
From: Ranjan Anantharaman ***@***.***>
Sent: Monday, August 2, 2021 11:56 AM
To: Circuitscape/Omniscape.jl ***@***.***>
Cc: Hunt, Lindsay E ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Circuitscape/Omniscape.jl] ERROR: TaskFailedException: Adjacency / distance matrices must be symm

[2021-08-02 21:55] vlandau commented on #101
Checked this and confirmed CHOLMOD is being used as intended. A formal benchmark can be found in the recent [_Land_ paper](https://www.mdpi.com/2073-445X/10/3/301/htm), Figure 4.

[2021-08-02 21:55] #101 closed

[2021-08-02 21:57] #90 closed

[2021-08-05 21:26] ranjanan commented on #102
@vlandau we will have to run this job again to reproduce the error right? In that case, @linhunt would have to send us their files?

[2021-08-05 21:27] ranjanan commented on #99
@peggyn7 could you attach your files so I can reproduce this?

[2021-08-05 21:28] ranjanan commented on #100
@linhunt if you could attach your files here I can take a look and debug.

[2021-08-05 22:15] trantom commented on #99
@ranjanan Here are the files I used that produced the same error.  It is a clipped version of @peggyn7's files.  I also attached the config file.  It worked with the addition of the `solver` and `precision` parameters on the bottom on  Omniscape version 0.5.0 in Julia version 1.6.1.  Previously it had worked without those parameters on Omniscape version 0.1.4 Julia version 1.3.1.  This is all refe

[2021-08-06 16:02] vlandau commented on #102
Yes we would need to re-run, though it is unfortunate that it is for such a large problem. I should go ahead and issue a patch release for Omniscape now so the error catching is in the latest version.

[2021-08-06 16:56] vlandau commented on #6
This would only be advisable is source strength is also adjusted by pixel area

[2021-08-06 19:02] linhunt commented on #102
Hi,

Would it be easier/faster for you guys if I download the new version of Omniscape and try running the same problem again and see if I get the error again? Would that make it easier for you to find the error rather than me sending you a large file and you guys spending many days waiting for it to crash at the end?

Lindsay
________________________________
From: Vincent Landau ***@***.***>
Sent

[2021-08-06 19:31] vlandau commented on #102
That would be very helpful, but only if it is not costing you extra money to run the problem again (also, how many threads are you running it on? we might be able to get it done faster since @ranjanan might have access to some more powerful computers, but I'm not sure.

Basically the new error handling will print out the index of the target pixel that is failing (the row and column for that pixel)

[2021-08-07 16:42] ranjanan commented on #100
https://github.com/JuliaRegistries/General/pull/42367. Release new Omniscape version and test this out?

[2021-08-07 16:43] ranjanan commented on #99
Test with new Circuitscape version? https://github.com/JuliaRegistries/General/pull/42367. Will need a new version of Omniscape

[2021-08-09 16:26] vlandau commented on #100
@ranjanan yeah I'll release a new patch today!

[2021-08-09 16:27] vlandau commented on #99
I'll release a new version of Omniscape with an updated Circuitscape dep today.

[2021-08-09 19:47] vlandau commented on #99
Confirmed to be fixed in Omniscape 0.5.3 (Circuitscape 5.8.3). I tested this with cholmod and cg+amg and double precision (though note that precision doesn't influence the matrix norm check in Circuitscape as of version 5.8.3). I'm going to close #100 as well.

Thanks @ranjanan!

[2021-08-09 19:47] #99 closed

[2021-08-09 19:49] vlandau commented on #100
This should now be fixed in Circuitscape 5.8.3. Please update Omniscape to it's latest version to ensure the latest version of Circuitscape (which contains the fix) is being used by Omniscape.

[2021-08-09 19:49] #100 closed

[2021-08-09 23:17] trantom commented on #99
@ranjanan @vlandau Thank you so much for your work.  0.5.3 is able to fully process with double precision and cg+amg on the previous dataset I shared and an entirely new dataset I put together as well.

[2021-09-02 17:05] tpoisot opened #105 "Links to the doc are dead"
Not sure where the doc lives now, but the links in the JOSS paper and from the badges don't work anymore

[2021-09-02 17:09] vlandau commented on #105
Thanks for the heads up @tpoisot.

@ViralBShah @ranjanan looks like everything on docs.circuitscape.org  is down, including Circuitscape and my new package in progress SpatialGraphs.jl. I'm not sure what is going on. I can confirm SpatialGraphs docs were up this week. Circuitscape.org is still up though.

[2021-09-02 17:13] vlandau commented on #105
In the mean time docs can be found here: https://circuitscape.github.io/Omniscape.jl/latest/

I think someone deleted the circuitscape.github.io repository, which was telling github to send docs to docs.circuitscape.org

[2021-09-02 17:16] vlandau commented on #105
Thanks again @tpoisot. Someone did indeed delete the circuitscape.github.io repository. I recreated it and everything is back online.

[2021-09-02 17:16] #105 closed

[2021-09-02 17:22] tpoisot commented on #105
:+1:

[2021-09-02 19:33] ViralBShah commented on #105
It was me. I mistakenly thought it was an empty repo. Apologies.

[2021-09-08 19:53] vlandau opened #106 "Use @lock for adding moving window results to cumulative current array"
This will result in additional overhead, but significant memory reductions because the cumulative current storage array won't need to have an additional dimension of length n = <number of threads>, it can just be stored in a matrix. I imagine this should be done in addition to #79, where we use a hierarchical parallel processing framework with chunks of the landscape parallelized across processes,

[2021-09-08 20:01] vlandau commented on #95
This may be less of an issue if #106 and #79 can be implemented efficiently.

[2021-09-08 20:09] vlandau commented on #79
Version 1 will be the way I go, as it has several benefits, including making multiprocessing easy to do hierarchical parallel processing (e.g. see #106)

[2021-09-09 23:30] vlandau commented on #106
Okay -- this was easy to implement. I've got two methods side y side to allow benchmarking -- still need to do a formal benchmark to see how this scales with increased numbers of threads. Here's [the relevant commit](https://github.com/Circuitscape/Omniscape.jl/commit/8502ab0a6c7de096928781ad1e15c734532d134e).

Here's a script to try out both methods. With 6 threads, they're super similar in compu

[2021-10-08 17:56] riccile opened #107 "ERROR: UndefVarError: RasData not defined"
Hi,
I can successfully run omniscape on my computer but I got a Rasdata error when I try running the same ini and ascii files on a computing cluster and a different computer. Any ideas why this might be? Circuitscape runs fine on all three. Thanks for your help!

[code]

[2021-10-08 21:28] vlandau commented on #107
Would you mind sharing the version of Omniscape and Circuitscape that you are using?

You can access this information by running `using Pkg` to load the needed package, then `Pkg.status("Omniscape")` and `Pkg.status("Circuitscape")` to get the version numbers.

[2021-10-12 19:16] glaroc opened #108 "Omniscape crashes at end of run"
Hi, I'm running Omniscape on a bunch of files and for a very limited number of them, I get the error below. Is this a familiar error ? I looked at the resistance surface that leads to this error and I can't see anything abnormal. Other files created in the exact same way run ok. Any clues ?
[code]

[2021-10-12 19:57] vlandau commented on #108
That is a new requirement of the Circuitscape.jl package, since we added a new solver (but the solver only applies if you compile Julia with MKL anyway). Are you getting a specific error?

[2021-10-12 19:58] glaroc commented on #108
`julia> using Pardiso
ERROR: InitError: could not load library "libmkl_rt"
libmkl_rt.so: cannot open shared object file: No such file or directory
`

[2021-10-12 20:23] glaroc commented on #108
I tried deleting my .julia folder and reinstalling everyting and it didn't fix it. I can't really control the Julia version (1.6.1) since this is on a HPC cluster.

[2021-10-13 00:35] ranjanan commented on #108
@glaroc once you reinstall Circuitscape, could you try the minimal reproducer in https://github.com/JuliaSparse/Pardiso.jl/issues/77#issue-939023263? Just so I know it's the same issue. I shall also update the bounds in Circuitscape to be more strict.

[2021-10-13 00:54] ranjanan commented on #108
You can also try now after updating Circuitscape to v5.8.4 (https://github.com/JuliaRegistries/General/pull/46641#event-5453698427)

[2021-10-13 13:22] glaroc commented on #108
@ranjanan With v5.8.4, I can't load Circuitscape still because of Pardiso failing to load.

[2021-10-13 14:29] ranjanan commented on #108
Is it the same error as in https://github.com/JuliaSparse/Pardiso.jl/issues/77#issue-939023263?

[2021-10-13 16:26] glaroc commented on #108
I don't know what the issue is. It seems like Pardiso.jl is seeing the MKLROOT folder on build since it decides not to install it. However, when the library is reloaded, it is not seeing the proper MKLROOT folder, as if it was searching for it within the local Julia install.

[2021-10-14 14:59] amywaananen opened #109 "ERROR: LoadError: BoundsError: attempt to access 1×1 Matrix{Union{Missing, Number}} at index [1:201, 1:201]"
Good morning!

I am getting the following error when I attempt to run Omniscape with conditional connectivity options. Do you have any suggestions about what might be going on?

Thank you,
Amy

[code]

[2021-10-14 16:55] amywaananen commented on #109
Yes, code below. Let me know if I should send you the files. Thanks!

[code]

[2021-10-14 17:28] #109 closed, assigned to vlandau

[2021-10-25 07:07] Miller0701 opened #110 "ERROR: type AdvancedProblem has no field finite_grounds"
Dear all.

I tried using Omniscape in Julia

I have a problem about 'advanced problem has no field finite_grounds.
There was no error when I

ran it with the same file last month, but when I tried it again this time, an error occurred. I have updated both Julia and Omniscape to the latest versions, but the problem persists.

Capture the part about the error, and upload the ini file and the error f

[2021-10-25 16:47] #110 closed, assigned to nobody

[2021-10-25 19:30] vlandau opened #111 "Use new struct for arrays with NoData values"
[code]
At this time, I'm using `Array{Union{T, Missing}, 2} where t <: Number`, which is just messy...

The struct above will make things cleaner internally overall

[2021-10-31 21:29] aeduckworth commented on #107
I'm having the same issue.
Julia v1.6.3
Circuitscape v5.9.1
Omniscape v0.4.0

I believe these versions are the most recent available that aren't the development versions.
Circuitscape running fine, but Omniscape returning the error above noted by riccile.

[2021-10-31 21:56] riccile commented on #107
Sorry, I forgot to respond! I had been using Julia 1.5.3 and once I updated to 1.6.3 I was able to install Omniscape 0.5.3 and that resolved the issue.

[2021-11-01 01:34] vlandau commented on #107
@riccile thanks for posting back! I'm glad everything is working for you. I'm going to mark this issue as resolved.

@aeduckworth you should be able to resolve the issue the same way, by updating Omniscape. Omniscape is currently at version 0.5.5 (you can find the latest version number on the right-hand side of Omniscape's GitHub page, or by going to https://github.com/Circuitscape/Omniscape.jl/re

[2021-11-01 01:34] #107 closed

[2021-11-01 01:51] aeduckworth opened #113 "ERROR: LoadError"
Was able to update to Omniscape v0.5.5 in Julia 1.6.3, based on #107. However, I now keep getting Load Errors. Have tried removing Omniscape and reinstalling, but issue persists.

julia> using Omniscape
[ Info: Precompiling Omniscape [a38d70fc-99f5-11e9-1e3d-cbca093024c3]
ERROR: LoadError: InitError: could not load library "C:\Users\aduckworth\.julia\artifacts\8345a5972a124865a058c4e046b84305f9e27

[2021-11-04 03:55] aeduckworth commented on #113
Resolve with Pkg.update() after JuliaRegistries/General#47879.

[2021-11-04 15:54] #113 closed

[2021-11-04 17:12] georod commented on #110
Hi.  I still get a similar error: "ERROR: type AdvancedProblem has no field finite_grounds"  I am running  Circuitscape v5.10.0 and Omniscape v0.5.0.   I can see "finitegrounds = data.finite_grounds" on line 368 of my installation.  Any tips will be appreciated. Thanks.

[2021-11-04 17:13] vlandau commented on #110
You just need to update Omniscape to the latest version, 0.5.5, and then everything should work for you!

[2021-11-04 17:42] georod commented on #110
OK. Got it. That worked. I installed the development version: using Pkg; Pkg.add(PackageSpec(name = "Omniscape", rev = "main"))  Note: I had to restart Julia for the effects to take place.  Thanks.

[2021-11-16 17:17] vlandau commented on #111
I decided to opt for using a simple type alias and extending the needed methods for `Array{Union{Float64, Missing}, 2}`. Was a bit easier that way. The key change was that I added functions to convert to and from this array type and exported them, to make it easier for the user to convert between types and prep inputs for Omniscape.

[2021-11-16 17:17] #111 closed

[2021-11-16 17:18] vlandau commented on #108
@glaroc would it be okay for me to close this issue?

[2021-11-16 17:44] glaroc commented on #108
@vlandau Yes, absolutely.

[2021-11-16 17:46] #108 closed

[2022-03-31 17:56] vlandau opened #114 "Add methods that accept Raster as an input type"
May do this after implementing multi-processing in chunks.

Adding a method that accepts a Rasters.Raster as an input step might make folding Omniscape into larger geospatial workflows more seamless. To do this, I should probably create a base method that just accepts an AbstractArray with no metadata about projection, transform, etc. Then making new methods for additional data types will be prett

[2022-04-19 13:45] RocioMartinez-Cillero opened #116 "Mistake in documentation"
I've noticed a mistake in Omniscape documentation, section "Examples", where it says:
"Finally, map normalized current flow, which is calculated as flow potential divided by cumulative current."

Based on the paper and the results I'm getting from the algorithm, it should be "cumulative current/flow potential".

[2022-06-01 12:39] mariesoret opened #118 "pair wise resistance table"
I can't find the (very useful) circuitscape output "pairwise resistance" in Omnicape.
I'm using julia-1.6.2, and omniscape v0.5.7

[2022-06-01 16:11] vlandau commented on #118
Because of the way that Omniscape works, getting pairwise resistance distances is unfortunately not possible because it uses Circuitscape advanced mode as the backend.

[2022-06-03 16:44] ajzellmer commented on #116
Came here to say the same thing. Also related, in User Guide > Output Options there is an error here:

write_raw_currmap: One of true, false. Defaults to true. Save the raw cumulative current map to disk? Should always be set to true unless calc_flow_potential, calc_normalized_current, or both are true and you do not need the raw current output. If true, the cumulative current map is saved to disk

[2022-06-03 17:41] vlandau commented on #116
Thank you @RocioMartinez-Cillero and @ajzellmer -- great catches! I'll work on a fix right now!

[2022-06-03 17:45] #116 closed

[2022-06-27 16:34] linhunt opened #120 "Issue using Circuitscape"
This is the error I am getting when trying to run Circuitscape today. It told me to submit a bug report.

Step 10: Would you like to run Circuitscape?

   Later
[ Info: 2022-06-27 09:07:09 : Precision used: Double
[ Info: 2022-06-27 09:07:09 : Starting up Circuitscape to use 4 processes in parallel
[ Info: 2022-06-27 09:07:21 : Reading maps
[ Info: 2022-06-27 09:07:26 : Resistance/Conductance map

[2022-06-27 22:46] ranjanan commented on #120
Think you put this in the wrong repo. I'll file an issue at CS.jl. Could you please the files there so I can reproduce?

[2022-06-27 22:47] ranjanan commented on #120
Generate the INI and paste it there with the raster and point file

[2022-06-28 16:03] linhunt commented on #120
THis isn't complete it wouldn't let me submit the comments

[2022-08-25 11:27] xiaoxiaomuse opened #121 "Data address invalid of the Example."
In the example of " Forest connectivity in central Maryland",  the url ( "https://raw.githubusercontent.com/Circuitscape/datasets/main/") is  invalid, so we can not download the land cover tiff data.

[2022-08-25 16:01] vlandau commented on #121
Thanks for posting an issue! It looks like GitHub has changed the formatting of their urls for raw content. Can you replace the URL in the code with "https://github.com/Circuitscape/datasets/blob/main/data/nlcd_2016_frederick_md.tif?raw=true" and let me know if that works for you?

I'll update the URL in the docs later today when I have time but please also feel free to just do a PR if the URL abo

[2022-08-25 16:08] vlandau commented on #121
I just checked and the code as written does result in a valid url. Specifically the code generates this URL: raw.githubusercontent.com/Circuit scape/datasets/main/data/nlcd_2016_frederick_md.tif, which is then passed to `download` in the example. If you're just trying to navigate to url_base without adding the rest of the url (as is done in the subsequent line of code) then an invalid url error is

[2022-08-25 16:08] #121 closed

[2022-08-26 03:45] xiaoxiaomuse commented on #121
Thank you very much.  This url can be well download.   en , the other one (raw.githubusercontent.com/Circuit scape/datasets/main/data/nlcd_2016_frederick_md.tif) still can not be found, maybe there is a problem in my internet.

[2022-09-29 16:04] slamander opened #122 "Omniscape fails on specific row / column: "median of empty array is undefined""
Cross-posting from gitter: there have two mentions of Omniscape failing on a specific row / column.

In my case, I receive this error: `ERROR: ArgumentError: median of an empty array is undefined, Float64[]` . The run will fail at different stages--sometimes quite far into a run, other times immediately--but always at the same row-column combination. I've tried to diagnose the error by changing th

[2022-10-12 11:07] thomarse-ef opened #123 "Conditional connectivity options being ignored"
I'm not sure if I've misunderstood how this works or if it's a bug but I can't seem to get conditional connectivity to work (or comparison with the future which is my goal).

In my conditional file I've set two cells as 1, the rest as 0 (expecting 1s to only be connected with other 1s, 0s to only be connected with other 0s). When I run Omniscape with a radius that's smaller than the distance betwe

[2022-10-12 13:03] thomarse-ef opened #124 "Unexpected results"
I'm not sure if this is something to do with my set up but I'm getting some unexpected results.

I've got a source surface which is mostly set to a very low number (0.0000000001) so that every cell will be included in the analysis. I've then set two cells to much higher numbers (1, 1000). I would expect much higher current around the cell that was set to 1000 (from the documentation I understand t

[2022-11-03 21:17] Thuja-plicata opened #125 "Learning Omniscape -- Error message when running example code"
Hello.  I am new to Omniscape.  I am working my way through the background material.  I have tried the example code for "Forest connectivity in central Maryland" (https://docs.circuitscape.org/Omniscape.jl/latest/examples/), but I keep running into an error message at the following step:

currmap, flow_pot, norm_current = run_omniscape(config,
                                                land_c

[2022-11-04 05:17] #125 closed

[2022-11-04 05:19] Thuja-plicata commented on #125
This was solved by checking the earlier code for the reclass_table.  There was a "." after the 11 on the second line; omitting this allowed it to run properly.

[2022-11-10 03:03] Sumuses commented on #123
I also encountered this problem.  there is no difference between none condition and two conditions.

[2022-11-10 03:14] vlandau commented on #123
Thanks for reporting this. Apologies for the delay in responding to this issue. Currently this project is maintained "pro bono" and in the developers' free time, so it might take me a week or two to look into this. If you don't hear back in a couple of weeks, please do post another comment to remind me. I'll post back here with an update when I have a chance to look at it.

[2022-11-10 03:21] vlandau commented on #124
Thanks for posting an issue  I'll try to take a look at this over the next couple of weeks and report back.

[2022-11-10 03:26] vlandau commented on #122
Sorry for the delay in getting back to you on this. Is this still giving you problems?

It does make sense that the timing of the error being thrown is random since the order of the moving window solves is randomized for more accurate ETA estimates in the progress bar.

If possible, would you mind sharing your input files (and the associate ini file)? I'll try to take a look in the coming couple o

[2022-11-10 03:29] vlandau commented on #120
Sorry for the delay in response here. This is indeed in the wrong repo. I'm going to close this issue since it is related to Circuitscape instead of Omniscape. It looks like @ranjanan has already created a new issue over in Circuitscape so please follow up on that issue.

[2022-11-10 03:29] #120 closed

[2022-11-10 03:31] vlandau commented on #102
@linhunt Is this still giving you problems or have you been able to reproduce it and get a column/row index?

[2022-11-14 23:07] jessjaco opened #126 "Allow Bool values in cfg of in-memory run_omniscape?"
The in memory version of `run_omniscape` has type `Dict{String, String}` for the `cfg` arg. Might it make sense to allow Bool values too, for e.g. `calc_normalized_current`?

[2022-11-25 19:13] mir123 opened #127 "Omniscape crashing with AssertionError: norm(G * v .- curr) / norm(curr) < 1.0e-6"
This seems similar but not quite like #108 and #100, also see https://github.com/Circuitscape/Circuitscape.jl/issues/305

Omniscape crashed at 91% of a run with a TaskFailedException. This is a fairly large job, with a 224M cells raster (resolution 30m) and a 2200 cell radius (block size 221). Memory usage with 32 cores topped at around 360 GB.

I had a successful run with the same resistance and

[2022-11-28 02:38] vlandau commented on #127
@mir123 This due to Circuitscape having some solution errors over the acceptable tolerance. Is this the full stacktrace? Omniscape should be printing information on the row and column at which the failure occurred when an error is thrown. Something about the source and resistance within a specific moving window solve is giving Circuitscape a hard time.

cc @ranjanan

[2022-11-28 02:41] vlandau commented on #126
It would be easy to update the dict type requirement `Dict{String, Any}` or `Dict{String, Union{String, Bool}`, but we'd have to make sure we're parsing things correctly. My original thought was that it's a bit easier to just enforce String as the value type for all keys so we always know what type to expect when parsing things.

[2022-11-28 02:48] vlandau commented on #124
In my mind this is expected. Let's call the pixel on which the moving window is centered "pixel A", and the other high source pixel "pixel B." Once the pixels A and B are contained in the same moving window, the total amount of current is determined by the strength of pixel A, and the vast majority of that current will be injected into pixel B because its strength is vastly greater than the other

[2022-11-28 02:49] vlandau commented on #123
@Sumuses would you be able to share your INI and input files as well?

[2022-11-28 03:41] Sumuses commented on #123
I am a new julia learner, so I put my code below, and put all test data are here:https://github.com/Sumuses/test-data-for-Omniscape
Thank you very much, Mr vlandau.

using Omniscape, Rasters, Plots
#Reand and load data
land_cost, wkt, transform = Omniscape.read_raster("resistance.tif", Float64)      #resistance file
source, wkt, transform = Omniscape.read_raster("mamal.tif", Float64)

[2022-11-28 19:51] mir123 commented on #127
I did get the following errors before:
[code]
After the `TaskFailedException` I got the rest of the error above.

Pixel values of source and resistance:

|Column|Row  |Source value|Resistance value |
|------|-----|------------|-----------------|
|1879P |4310L|0           |1.18539237976074 |
|5636P |6520L|0.5         |0.300000011920929|
|17570P|3647L|0.5         |0.466666668653488|
|13371P|2542L|0

[2022-11-28 23:22] jessjaco commented on #126
Oh right, now I realize the numeric types are string too. Yeah, probably a low priority